[2021-09-22 07:24] fribse opened #1 "Testing? / General Discussion"
Hi Zach

Looking good, very exciting progress, good job!
So let me know when I should start testing this. With python it should be able to run on a raspberry pi, right?
It would be supercool to have it in micropython as well, for the esp32 chip :-) But alas, I have no programming abilities in that regard ☹️

[2021-09-22 10:34] dd871 commented on #1
I was also looking to use your version as a template to let it run on a pi and integrate with home assistant. I hit a small (or rather big) roadblock though. I used your GUI to create a random setting of bytes, including the checksum, and sent it via bleak to my Neewer 660. It went through without error messages but nothing at all happened. Then I also tried to write it manually to the characteris

[2021-09-22 11:39] taburineagle commented on #1
Thanks @fribse! - I'm writing it with the intention to use it on a Pi, but at the moment I haven't written a command line interpreter (all of my current program is the GUI based one, but I want to write a command-line only version that can work without the GUI as well).  The current version I have on GitHub (I really need to post the latest version, I will do that in a few hours) is only the GUI,

[2021-09-22 13:39] taburineagle commented on #1
OK - @fribse and @dd871 - I uploaded newer versions of the main .py and the GUI .py file (I also renamed them to the correct "Neewer", so you'll need to download both of them again), but this commit fixes the CCT calculation issue, and integrates with bleak to control the lights.  You need to hit "Scan" first, and wait a few seconds - the list of Neewer lights will show in the dropdown menu.  To s

[2021-09-23 07:29] dd871 commented on #1
Thanks for the update @taburineagle, the new byte array worked perfect when sending it from my phone or via Python from my Pi.

Unfortunately, I was not able to fully test the new GUI version, as my laptop Bluetooth is playing up and refuses to connect properly to any device at all (it does scan correctly though and automatically selects the light in the dropdown). I also can't run it on my Pi (wh

[2021-09-23 15:05] taburineagle commented on #1
@dd871 - Hmm, that's odd - although I'm not sure if the laptop's bluetooth issue is a program/bleak issue, or related to that computer :)  I'm in the exact same boat with the Pi situation - I have several RPis, but they're all doing something (most in the field), and the only real "test" Pi I have available is a Pi Zero W... which I suppose I could flash with a Pi OS GUI to test, although that wou

[2021-09-28 00:06] dd871 commented on #1
Sounds amazing - especially the group feature, as I have two sets of the lights myself!

I did a little hack, using your code as a template and remodelling it to work from a command line (just so that I can use it from my Pi). But I suck at coding, hence would not be a good contribution. Still, it kinda works, using commands like:
`python Neewer.py --macAddress="XX:ZZ:AA" --brightness=10 --tempera

[2021-09-28 11:13] fribse commented on #1
Sounds exciting. I wish I had 5 or 10 Neewer lights :-D
But even for my two, it is going to be a great addition. I've gotten hold of a BT dongle now for the PC, so I'll be able to try it from there, I have BT in the company laptop of course, but I'm not allowed to install 'third party' software so I'll defer from that. I'm also going to try and set it up on my currently only not used rpi (4).

[2021-09-28 12:15] fribse commented on #1
So far no luck on the RPi, didn't know it needed a GUI, so have to redo that, the windows didn't succeed either, it could be because the dongle I found is a BT adapter from 2005, so very old BT protocol :-o

[2021-10-01 22:52] taburineagle commented on #1
Ah, got you - yeah, so far it is a GUI-only application, but I do want to make a CLI version too (that was my initial goal, because I want to use a headless RPi to control the lights as well) - writing the CLI is actually the eas(ier) part, but I want to get the GUI sorted out first.  I don't know exactly which version of Bluetooth the lights use, but they do need BTLE (low energy), so yeah, that

[2021-10-01 23:08] fribse commented on #1
Looks great, I'm going to pick up a new one tomorrow, can't wait to get it tested here :-)

[2021-10-01 23:14] taburineagle commented on #1
Ah, excellent!  I hope to push a new commit soon - just making sure I have all of my I's dotted and T's crossed before I push it! ;)

[2021-10-03 09:12] taburineagle commented on #1
OK, I've pushed the latest commit!

[2021-10-03 09:21] taburineagle commented on #1
@dd871 - I just noticed your comment about the command-line hack (GitHub didn't notify me of the comment, so I just noticed it scrolling by 🙄) - that looks like a great way to specify the settings!  I just pushed the latest GUI version, let me take a look into implementing some sort of CLI version next.

[2021-10-04 18:53] fribse commented on #1
I finally got a working bluetooth, the dongles I got hold of just shows up as 'Bluetooth Radio', and doesn't show the Bluetooth icon at all.
So I got hold of a spare laptop at work with built-in BT, and that worked.
I can see the light, it finds Neewer-SNL600, and the MAC address, it shows Linked: Yes, and then Waiting to send.
But it doesn't react on brightness or colour temperature, it just rema

[2021-10-04 19:26] taburineagle commented on #1
Hmm... when you say "turned off", do you mean the light itself is turned off?  Like it has power, Bluetooth is connected, but it's technically "off" (or in power saving mode)?  I have found if you send signals to a light that's "off" (as far as the light is concerned), it won't receive any parameters until you turn it "on" (in the Neweer app, it's the little button on the front icon, before you ac

[2021-10-04 19:32] taburineagle commented on #1
This is what my SL-80 looks like in that mode - the light is "powered on", and the program is linked to it, but the light is in "POWER OFF" mode, so it can't actually receive any signals from the program.  Once I turn it on, it responds to the color/brightness dials.

![62A66293-213A-4FF5-91E5-EDC999EE87E7(1)](https://user-images.githubusercontent.com/18430526/135912918-f90477b6-ccd9-40b0-b19b-2f4

[2021-10-04 19:35] taburineagle commented on #1
Also, you can't connect the light to more than one Bluetooth controller at the same time, so if the Neewer app is connected to the light, my program can't connect to it, and vice versa.

[2021-10-04 20:06] fribse commented on #1
The light is powered, but led's are turned off in the app. So I turned them on in the app, and then closed the bluetooth on the phone.
Then I can connect to the light in your python program, it says Linked
The light looks like this:
![20211004_220519](https://user-images.githubusercontent.com/13660621/135917149-facf1be8-ac3b-41b4-a0bf-7cabf295bff4.JPG)
But it doesn't react to it in the python prog

[2021-10-04 20:22] taburineagle commented on #1
Hmm - that's so strange.  It does see and link to the light, so the connection definitely works, so Bleak is working - I doubt it, but maybe the control for that light is in another characteristic?  I was wondering if the channel being set to 0 made a difference, but I tried that with my SL-80 (on channel 0) and it still responds to commands.  Just to play Devil's advocate, if you turn everything

[2021-10-04 20:22] taburineagle commented on #1
Also, are you using Android or iOS for the phone's app control?

[2021-10-04 22:30] taburineagle commented on #1
OH!  Try this too - ha, you may already have, but on just testing it myself I found myself forgetting to - you need to select the light in the table first, then try dragging the sliders.  The way I programmed the Python script was it sends commands to whichever lights are selected in the table view (so if you have none selected, it sends to none - if you have 4 selected, it sends to all 4) - I jus

[2021-10-05 07:13] fribse commented on #1
It is really odd. Ok, so I finally got the BT adapter to work in the desktop computer. But that won't connect, I think it might be because it's on the back of the computer, and there's a big metal thing in the way (the case).
So I'm still testing on the laptop.
I've tried the thing with turning off the light and turning it back on (also previously), and it does turn on the LED's when I do so. The

[2021-10-05 07:16] fribse commented on #1
Ok, I turned the light off / on and changed it to channel 1, then I can connect to it from the app.
But I still do not see any reaction from it:

[code]

[2021-10-05 07:45] taburineagle commented on #1
Hmm, very interesting - I actually didn't know there was a CCT only version Neewer light (both of the lights I have are CCT/HSL lights) - OK, apologies if I keep repeating myself, I'm just trying to understand on my end without actually seeing it for myself :)  there might be something going on with that model that I'm not 100% understanding - maybe the actual command set is different.

- When you

[2021-10-05 09:23] fribse commented on #1
1. The BT icon flashes
2. Yes, it finds it during scan, sometimes it connects some times not on the desktop, mostly it finds it on the laptop. I have to turn the BT off on the other devices it seems... Oh, and I just tried on the laptop again, it looks like because it was found on channel 0 the first time, it won't connect on channel 1 the second time, so something is lingering in bleak somehow.

[2021-10-05 09:26] fribse commented on #1
I just tried switching the light to channel 0 again, and now the desktop can connect to it ??

[2021-10-05 09:56] taburineagle commented on #1
Ha!  The plot thickens - honestly the channel shouldn't affect how the program connects to it, but that's interesting too 👍  I'm curious now, because 0x78 0x87 is definitely CCT mode, 0x78 0x86 is HSL - so, for all intents and purposes it _should_ be working - although I was wondering if because that light _is_ CCT only, maybe it uses a modified (or more simple) command set that the "bigger" HSL/C

[2021-10-05 14:06] gnerf commented on #1
Have two 660s and haven't been able to get them to be found when scanning.  They work on my android phone.  I disabled bluetooth on my phone to make sure they weren't interfering with the scan.  Bluetooth pairing light on the 660s is flashing.

Windows 10.  Will try another pc and some bluetooth dongles to see if there is any change.  I'm really interested in getting this working.

[2021-10-05 14:32] taburineagle commented on #1
You're welcome!  Ha, I wish it wasn't giving so many people issues off the front-end, but that's how early projects go, that's why there's beta testing 😅  What I'm using for testing on my end is:

- Windows 10 Pro for Workstations (although that shouldn't matter) version 20H2
- Ubuntu Focal Fossa, to test cross-compatibility (this is just using the built-in Bluetooth on my laptop)
- Python 3.9.7 (

[2021-10-05 14:51] taburineagle commented on #1
@fribse - the reason I asked earlier if you were on iOS or Android is there is an app I use (nRF Connect) to see what characteristics the lights connect to on their Bluetooth connections.  The app for Android is [here](https://play.google.com/store/apps/details?id=no.nordicsemi.android.mcp&hl=en_US&gl=US) - if you wouldn't mind, would it be possible to download that app, open it to the Neewer ligh

[2021-10-05 14:57] gnerf commented on #1
Zach,
Thanks for the FAST reply. I will pick up that bluetooth dongle.
I'm running Windows 10 Pro, python 3.9.5, Bleak 0.12.1, a motherboard
based (MSI Meg Creation x399) Intel bluetooth 5 adapter on a 2990wx. I
have the 660 Pros as well.
Will also give it a try on a few other systems I have, although it's
always maddening when you want it to work on a particular system.
Thanks again. Very glad yo

[2021-10-05 15:01] gnerf commented on #1
Just ran this on one of my lights and received -
69400002-B5A3-F393-E0A9-E50E24DCCA99

	-----------------------------------------From: "Zach Glenwright"
To: "taburineagle/NeewerLite-Python"
Cc: "gnerf", "Comment"
Sent: Tuesday October 5 2021 10:51:44AM
Subject: Re: [taburineagle/NeewerLite-Python] Testing? (#1)

	@fribse [1] - the reason I asked earlier if you were on iOS or
Android is there is an

[2021-10-05 15:04] taburineagle commented on #1
Ha, you're welcome - I have weird hours, sometimes I'm available in the middle of the day, sometimes the middle of the night - got lucky that time :)  In which way did you receive that message?  Did it say it can't connect to something?  69400002-B5A3-F393-E0A9-E50E24DCCA99 is the characteristic the light looks for when you send data its way.

[2021-10-05 15:07] gnerf commented on #1
The 69400002-B5A3-F393-E0A9-E50E24DCCA99 was information from the nRF connect application through my phone.

The python app just says Searching for new lights, pauses, and starts back up with Background thread running.  No other messages.  Dongle is on its way.

[2021-10-05 15:10] taburineagle commented on #1
_Ohhh_, got you, got you - yeah, that's definitely the same characteristic I'm writing to within the Python program.  If you wouldn't mind, could you click on the arrow next to that characteristic and tell it to send this string as a ByteArray (which is the default option) - 78870264298E - it should change the light to 4100K @ 100 brightness.

[2021-10-05 15:12] gnerf commented on #1
Sending that bytestring worked - 4100k @ 100%

[2021-10-05 15:13] taburineagle commented on #1
Beautiful, beautiful - that should work through the Python script too, when the Bluetooth dongle arrives.  Do you have a 660 RGB light (where you can turn the LEDs any color), or is yours just a CCT (just various shades of white balance) light?

[2021-10-05 15:14] gnerf commented on #1
Three of the 660 RGBs.

[2021-10-05 15:14] taburineagle commented on #1
If you have an RGB model, sending 788604F0006464BA should turn it blue @ 100% brightness & 100% saturation.

[2021-10-05 15:15] taburineagle commented on #1
Got you - I was curious, because @fribse has a 660 as well, but his is only CCT (white balance) controllable, and I wasn't sure if those lights possibly used a different control scheme (like a different set of prefix commands) to adjust those settings.

[2021-10-05 15:17] gnerf commented on #1
Confirmed.  Bright saturated blue.  Switches to HSI mode - Hue of 240, S of A0.

[2021-10-05 15:22] gnerf commented on #1
Looking forward to figuring out an integration path with a Stream Deck once my blue tooth connectivity works.

[2021-10-05 15:25] taburineagle commented on #1
That part I'm not 100% sure how @keefo is doing on his app - I'm guessing (although I need to analyze that section of code more closely) that his app is running some sort of tcp server and that's what the Streamdeck is connecting to?  Ha, I also don't know how Streamdecks function, so I could be way off on that one.

[2021-10-05 18:54] keefo commented on #1
Hi @gnerf  @taburineagle

The Stream Deck is pretty flexible to use. It supports to run any app and script.

In my home, I write 3 little bash scripts, and link 3 Stream Deck buttons with 3 scripts. The content of the script are as simple as this:

[code]

[code]

[code]

In macOS, I have the Neewerlite app registered to the schema neewerlite.  Every time I open this schema, macOS will automatical

[2021-10-05 22:58] taburineagle commented on #1
Got you - very cool, I was curious where the Bash scripting came in (because I saw on your repo that there was "0.9% Shell" in there, I thought the scripting was a compilation script somewhere, but that's a cool use of it).  I'm not sure for cross-compatibility how that would work though, because Windows needs a registry edit to set up a custom url schema (at least AFAIK), and I'm not sure how Ubu

[2021-10-05 23:53] taburineagle commented on #1
@fribse - I added the ability to turn the light on and off from the ANIMATION MODE/POWER tab with my latest commit - it'll be interesting to see if the 2-tone 660 allows that command to go through.

[2021-10-06 19:45] gnerf commented on #1
That TPlink BT dongle resolved my connection issue.  Will play when I get some spare time.  Thanks!

[2021-10-09 14:12] taburineagle commented on #1
Here is a look at how everything should look when the program is running correctly - [https://www.youtube.com/watch?v=EICavtz4A7g](https://www.youtube.com/watch?v=EICavtz4A7g)

[2021-10-17 04:03] taburineagle commented on #1
Hello @Dreidor!  I'm glad to hear the GUI is working well - as far as the CLI, at the moment, the commands need to be all lowercase for the CLI to register them as arguments (I am going to update this in a later commit to accept both lower and uppercase arguments) - so it won't (_at least as of the current version on GitHub_) accept --SCENE="0" or --BRI 100 as arguments because they're written in

[2021-10-17 20:53] Dreidor commented on #1
Perfect! Following your example it works perfectly!
What I'm trying to achieve is to command the lights through lioranboard but what I lack now is speed.
Is there a way to leave the light connected and waiting for commands via cli skipping the search for light/connecting to light routine?

[2021-10-18 00:44] gnerf commented on #1
It would be cool to start up a little httpListener that listens to post/put/get commands and executes them.Mark
-------- Original message --------From: Dreidor ***@***.***> Date: 10/17/21  4:53 PM  (GMT-05:00) To: taburineagle/NeewerLite-Python ***@***.***> Cc: gnerf ***@***.***>, Mention ***@***.***> Subject: Re: [taburineagle/NeewerLite-Python] Testing? (#1)

Hello @Dreidor! I'm glad to hear the

[2021-11-13 07:47] fribse commented on #1
I finally had some time again. I've installled nrf connect (nordic something), and installed the Bluetooth Low Energy, but it asks for a nordic development kit to be attached?

[2021-11-13 23:06] taburineagle commented on #1
@fribse - Got you, got you - I'm assuming either that light sends to a different characteristic or it sends its data differently.  Sorry this is proving to be such a pain to get working! :/  Yeah, nRF Connect is by Nordic Semiconductor, but I'm not sure what "Bluetooth Low Energy" is by your description (did you download an app that's called "Bluetooth Low Energy" as well?) - Bluetooth Low Energy

[2021-11-14 22:29] fribse commented on #1
Ahh, it's an app, I downloaded it for the PC :-D I'll have a look at it :-)

[2021-11-14 22:39] fribse commented on #1
Not sure if there is a clever way of dumping the output, so I just grabbed some screenshots;

![Screenshot_20211114-233736](https://user-images.githubusercontent.com/13660621/141701451-5395482f-de4d-4f1a-9b5c-fb2f36604874.png)

![Screenshot_20211114-233750](https://user-images.githubusercontent.com/13660621/141701460-33bb9968-0ab9-4f6f-9dc4-cebe0eb99eae.png)

![Screenshot_20211114-233801](https://

[2021-11-15 00:46] taburineagle commented on #1
Ah yes!  Ha, yeah, app, sorry 😅   That's even more interesting, as 69400002-B5A3-F393-E0A9-E50E24DCCA99 is the characteristic my program is set to write to, and it's showing up on that light as well.  I wonder if the light accepts the parameters in a different way, because CCT mode on the lights I've tested take the luminance value _first_ - OK, one more thing to test now that you have nRF Connect

[2021-11-15 09:57] fribse commented on #1
Neither of them worked. Where in the world are located @taburineagle ? Just wondering if I could buy one, and have it sent to you, and then you could send it on to me, when it works?

[2021-11-15 16:57] fribse commented on #1
Aw, US, hmm, I'll probably get hit with customs when you forward it to me :-( I hoped you were in the EU.
I've tried creating the logfile, but I can't find the file anywhere. The phone is a Xperia 1 III running Android 11.

[2021-11-15 21:16] taburineagle commented on #1
Yeah, ha, sorry about that 🌎 - I was thinking that might be cool, getting a solution around the world, but it probably wouldn't be cost feasible :/  I found this below, maybe the adb tool would make it easier to get the logs?  A few weeks ago, I tried to do the same thing with an Android VM, but I initially had issues finding the logs on the VM as well.

[https://medium.com/@charlie.d.anderson/how

[2021-11-15 21:23] taburineagle commented on #1
If that doesn't work, I may still end up getting one of those lights to test out myself, is this the correct model?

[https://neewer.com/products/660-led-video-light-app-control-10096598](https://neewer.com/products/660-led-video-light-app-control-10096598)

[2021-11-16 00:21] taburineagle commented on #1
@fribse - Ha, well, I just got a SNL-660 [off of Amazon](https://www.amazon.com/dp/B07ZRLYP16?psc=1&smid=AXIU85VG19YP3&ref_=chk_typ_imgToDp) for a cheaper price than Neewer was listing it for (as far as I can see, it's a slightly older revision of the SNL-660 compared to the version I first linked above, but it's visually similar to the one you showed a picture of earlier on, and it did mention ha

[2021-11-16 07:15] fribse commented on #1
It looks very similar, but the app I use is this one:
![Screenshot_20211116-081500](https://user-images.githubusercontent.com/13660621/141938292-49e7d507-285a-457d-81fa-76380b548e90.png)
![Screenshot_20211116-081336](https://user-images.githubusercontent.com/13660621/141938152-b1cdc201-6930-4bc8-be64-3e0e1f626374.png)

[2021-11-16 11:57] taburineagle commented on #1
Right, right, got you - yep, that's the same app that iOS uses too, just with HSL controls intermixed into it.  Hopefully the "older" SNL-660 I'm waiting for uses the same control scheme as the one you have (it _should_) - I'll report findings back as soon as I can - probably Thursday morning at some point (I'm _supposed_ to get the light tomorrow, but Amazon isn't always 100% accurate...)

[2021-11-17 19:51] taburineagle commented on #1
@fribse - **_Ugh_**

It's
ever
so
_s l i g h t l y_
different

I got my light and analyzed the SNL660's commands - the commands are _ever so slightly different_ than the other Neewer lights.  Same characteristic, but different - _slightly_ different format to the command I was using.  Just to make sure, turn the light down a bit, change the color temperature to somewhere in the middle, and try the

[2021-11-18 17:59] fribse commented on #1
Of course it's not the same 😆
I'll look into it when I get back, I'm helping out my wife and her mother as my father-in-law just passed away.
I'm back next week.

[2021-11-19 02:24] taburineagle commented on #1
Ooh, I'm sorry to hear that, that sucks :(

I should (hopefully) have the new version up by the time you get back - I'm working on finalizing a few things (finishing up the HTTP server, limiting traffic to local networks [configurable], saving preference files, etc.) and of course, the SNL-660 tweaks.

[2021-11-21 05:29] taburineagle commented on #1
OK, I want to run everything through its paces again in a few hours, and then I'll push (the latest) and pull (request) with the latest version! 🔨

[2021-11-21 17:03] fribse commented on #1
I finally got home, now it doesn't find any lights, I've turned off other USB devices, and it shows the BT icon on the light as flashing (I turned it on manually).

[2021-11-21 17:19] fribse commented on #1
Ahh, ok, so I moved the dongle away from the back of the computer to a hub on the table, and now it finds the light, and EVERYTHING WORKS! 🎉

[2021-11-21 20:54] taburineagle commented on #1
Ah, excellent!  Glad to hear it! 🦝

[2021-11-21 22:06] fribse commented on #1
Hmm, that is weird, now it can't find it again? I've turned it on, and it's flashing the BT icon, but PC can't find it?

[2021-11-22 02:52] taburineagle commented on #1
Hmmmm... that could be a dongle thing too, I've noticed the range is fairly minor when I use the dongle connected to my PC, but my laptop can see the same light from across the room.

[2021-11-22 15:21] fribse commented on #1
And the next attempt when I connected with the command line in administrator mode, it connected? Is that a requirement, that it's running as administrator on windoze?

I guess we should actually close this thread, and create seperate threads for the different things that we experience :-)

[2021-11-22 20:57] taburineagle commented on #1
Ha, it's definitely not a requirement :)  I will say though, Bleak doesn't always connect for me either - sometimes it'll find a light, but for whatever reason, it won't link to it on the first go-around - that's why I have the Connect button on the upper right of the program.  If you click on a light that didn't link, and then click Connect, it'll attempt to link to that light again.  I'd say...

[2021-11-22 20:57] #1 closed

[2021-11-29 23:40] ec1cw opened #3 "Keyboard shortcuts?"
I tried it on Windows and got it to work. Well done! I wonder if you considered the possibility of keyboard shortcuts for certain actions.

[2021-11-30 08:29] taburineagle commented on #3
Thank you!  That should be doable as a feature request, what kind of keyboard shortcuts are you looking for?  Like CTRL-1/2/3 for selecting CCT/HSI/ANM mode, or something more specific?

[2021-11-30 09:58] ec1cw commented on #3
I was thinking of user-configurable combinations like the Hotkeys in the Settings section of OBS Studio, where you can configure your own key combinations for different actions. Besides selecting the modes, turning the light on and off, and possibly increasing/decreasing parameters such as color temperature, brightness, hue, saturation.

[2021-12-01 11:38] fribse commented on #3
That would be great, I would love to have the controls in my streamdeck as well, but I think that should be doable by simply using the CLI, right?
Btw. I have two new lights coming in, one 440 RGB and one more 660 white temperature.
Interesting to see if it works with the 440 RGB, should be the same as the 660 RGB :-)

[2021-12-01 15:28] taburineagle commented on #3
Got you - @ec1cw - that should be doable, although making custom keybindings might take a little more time...

@fribse - Awesome!  That should work the same way as the RGB-660, or at least I hope it does :)  Yep!  The CLI will do that, so will the HTTP server - with the cli, it links and sends one command to one light at a time (so far) - so

`--light=(mac address) --mode=CCT --temp=5200 --bri=60`

[2021-12-06 08:10] fribse opened #4 "HTTP interface shows one light twice?"
Hey there

I just tested the http daemon, it seems to show the same light twice:
![image](https://user-images.githubusercontent.com/13660621/144810272-76eeafb8-79a1-4e33-8589-ddedfd7a16f2.png)
If I try to connect to the one that says 'no' it shows:
[code]

[2021-12-06 08:17] fribse opened #5 "Current code fails to start GUI?"
I don't see a version string (whoops), but the code currently available shows this when I try to start the GUI:

[code]

[2021-12-06 09:02] taburineagle commented on #5
Ah, I know what's happening on this one - I changed "HSL" to "HSI" (as that's the proper name for that mode), but the function is still looking for self.computeValue**HSL** - I'll fix this one ASAP as I have access to my coding computer.

[2021-12-06 09:13] taburineagle commented on #5
Actually, I think the problem with this one is the version of NeewerLite-Python.py you're using isn't the same version as the ui_NeewerLightUI.py file you're using (the newer one names that attribute as _Slider_HSI_1_H_, which is correct.)  Both of those files have had some changes to fix the HSL/HSI naming situation.

[2021-12-08 17:54] fribse commented on #5
Douh, you are absolutely right, I thought I had it updated, oh well, after updating BOTH files, it works perfectly.
I can even turn the light on and off (which I couldn't get to work in the old code).
So far it connects every time with this version.

[2021-12-08 17:54] #5 closed

[2021-12-08 18:00] fribse commented on #4
I've just gotten my 480RGB, and now that is detected twice.
That might be because of 'channel' settings on the light.
It was set to channel 5, and then it didn't want to connect. I then changed it to 0, and then it connected.
I've now changed it to 1, and it still connects.
If I shut down the program, and starts it again it finds the lights, and now only shows 1 of each.
I can see that when I turn

[2021-12-08 18:02] fribse opened #6 "Enhancement request: The 'on' 'off' should be seperate from CCT/HCI/..."
It seems kind of illogical that the power controls are on the CCT page, that should be seperately available (IMHO).
It's a bit silly to set it to white to turn it off 😆

[2021-12-08 19:23] taburineagle commented on #4
_Huh..._ - interesting - yeah, that's how the iOS app works too, when you just close it, the light stays connected.  I think that's because the Neewer app keeps a persistent link to the light, so closing it (not quitting out) is just like minimizing NeewerLite-Python in Windows - it's not on screen, but they're still linked together.  If you force quit out of the Neewer app (at least in iOS), then

[2021-12-08 19:28] taburineagle commented on #6
Ha, true, true 😅  I put it on that tab because all the lights can use CCT mode so far, but only the RGB ones can use the HSI/SCENE modes...  Definitely worth looking into for a later version!

[2021-12-08 20:21] taburineagle commented on #4
OK, I've reorganized that section of code to look more closely at the MAC address (it was scanning the entire list as a whole before, I limited the comparison to **only** check one element of that list now) - what I believe has been happening on your end is the light has been disconnecting (possibly due to the Bluetooth dongle's range, but I'm not 100% certain on that), and re-finding itself someh

[2021-12-09 22:51] fribse commented on #4
I'll have to test it this weekend, btw. the 480RGB works perfectly, so you can add that to the list as well :-D
Now I need to get a better ring light, I wonder if they have an app controlled one as well :-D

[2021-12-09 23:21] fribse opened #7 "Testing the webserver usage - ON/OFF?"
Hi Zack, I just updated the files anyway, can't wait 😆

I have some intermittent connection problems on the first connect, this makes it difficult to set something up automatically at the moment.
Also, how do I turn on/off through the web interface?

[2021-12-09 23:21] fribse commented on #4
Ahh can't wait, I don't see any lights twice currently, I guess I'll close it, and if it happens again, I'll reopen it.

[2021-12-09 23:21] #4 closed

[2021-12-10 02:29] taburineagle commented on #4
Excellent!  Sounds like a plan :)

[2021-12-10 02:38] taburineagle commented on #7
Ha, well, you _couldn't_ - at least before... 😅  I just added that feature in ^^ - in the newest commit, if you're in the CLI, add `--on` or `--off` to the command line - for the HTTP server, just pipe |on or |off into the command, like this:

`http://127.0.0.1:8080/NeewerLite-Python/light=1;2|off`
`http://127.0.0.1:8080/NeewerLite-Python/light=1;2|on`

I've had a few issues with linking on the fi

[2021-12-13 13:32] fribse commented on #7
Well, most bt dongles range 5-10m, mine is placed on a powered usb3 hub on my desk, so the distance is below 2m to each of them, and it still acts up :-)
I've gotten my second SNL-660, things are looking much brighter now 😆
Today they both connected without any second attempts.

[2021-12-14 01:00] taburineagle commented on #7
Ha, nice 😁  Yeah, I've had varied success myself too - sometimes they're only a few feet away from the PC, and they don't connect the first time - I haven't had as many issues with laptops connecting, so I wonder if something else in the room might be interfering?  Either way, they usually connect on the 2nd try if the first one is no good, so maybe the link procedure should try two times before e

[2021-12-14 22:15] fribse commented on #7
I had issues today with the connection, only one of the lights connected on the first attempt, and then it couldn't figure out what to do when I asked it to connect to both of them again, when one was already connected, selecting the disconnected again, made it connect, and the lights didn't misbehave after that.

[2021-12-14 23:54] taburineagle commented on #7
Got you - which interface is that you had issues with, GUI, CLI or HTTP?  I'm assuming HTTP because that's the thread this post is in, but I'm not sure :)  It sounds like most of the issues you've been having is with the linking stage, I definitely should add some "try again" conditionals if they don't link properly the first time around.

[2021-12-15 15:24] taburineagle commented on #7
@fribse - I added a multiple retry condition to the latest commit - this way, if the light doesn't link on the first attempt, it will try until the number of maximum attempts (at the moment specified by the `maxNumOfAttempts` variable at the top of the script) to link up to it.

[2021-12-16 19:41] DanielBaulig opened #8 "Feature Request: Add option to CLI to scan/list available lights"
It would be useful to be able to scan/list available list through the CLI.
Without the GUI there does not appear to be a way to obtain the mac addresses of available lights otherwise.

[2021-12-16 22:53] DanielBaulig opened #9 "Use regular HTTP parameter characters (? and &) instead of custom pipe characters"
When trying to use the pipe character, various HTTP implementations (including Chrome browser) automatically replace the | character with %7 which is the URL encoded version of this character. NeewerLite-Python does not handle this character correctly.

I would like to recommend to use the regular HTTP query parameter syntax  instead of the pipe character. Regular HTTP query parameters look like f

[2021-12-16 23:55] taburineagle commented on #8
Ah, yes, good point - you can with the HTTP server, but it would make sense to implement a scan in CLI mode as well... I'll take a look at that when I get a chance to, hopefully over the weekend.

[2021-12-16 23:59] taburineagle commented on #9
Ah, yeah, like a PHP request format - I wasn't aware of the URL encoding change, the ampersand character would definitely be better in that instance.  I could theoretically do `NeewerLite-Python?item1=value1&...`, but I still prefer the `/NeewerLite-Python/` path structure for the time being.  Honestly, the easiest method to fix this would just be to change the separator to an ampersand instead of

[2021-12-17 00:15] taburineagle commented on #9
Try the latest commit out when you have a chance - in Chrome, the URL is now parsed properly in my testing.

[2021-12-17 00:30] DanielBaulig commented on #9
That’s awesome! Thank you.

Btw, for a technically correct and valid URL, you want to start the query string parameter part with a question mark ? and concatinate additional parameters with an ampersand. You can keep the path structure using one of two approaches:

Make the „light“ part a query parameter but retain the trailing slash on the NeewerLite-Python part, which is valid:
http://localhost:

[2021-12-17 00:42] taburineagle commented on #9
Got you, that makes sense - I might just add a keyword similar to the light one in your example, but a "do-all" kind of action, like just the word `action` or `doAction`, etc. - the parser for `light=` is the same parser that the CLI uses to refer to the light, and both the HTTP server and CLI use the same argument parser, so I don't want to add too many changes to the base (post-/) structure of t

[2021-12-17 01:22] DanielBaulig opened #10 "Bug: Using Chrome to interface with HTTP server causes blocking of other HTTP traffic"
This is a little bit of an arcane bug, so exact steps to reproduce

Steps to reproduce:

1. Start NeewerLite-Python using `NeewerLite-Python.py --cli --http`
2. Send HTTP request using `curl http://localhost:8080/NeewerLite-Python/list -v`
3. Verify that the request completes
4. Visit http://localhost:8080/NeewerLite-Python/list in Chrome
5. Verify that the page loads
6. Send another HTTP request

[2021-12-17 04:02] taburineagle commented on #10
This one's definitely arcane, and I checked through a few forum posts of people having the same issue with Chrome-based requests, but I think I have a solution.  I changed the HTTP server implementation from a single-threaded BaseHTTPServer to a threaded ThreadingHTTPServer (the documentation even suggests this for clients that make multiple open requests) -

And changed the asyncio loop routine i

[2021-12-17 14:30] taburineagle commented on #10
OK, I've uploaded the latest commit - this changes the HTTP server implementation from BaseHTTPServer to ThreadingHTTPServer, which allows multiple connections (I was testing it on Firefox and Chrome simultaneously on Windows, and on the both of them _and_ Safari on Mac, with no HTTP hangups or application hangs on either), along with a few other changes to make this setup play nicely with how Nee

[2021-12-19 21:58] BB21B opened #11 "Art-net Control?"
Control via Art-net would be really nice. I'm going to start playing with this and maybe work on it but I thought I'd put the idea out there.

[2021-12-20 15:25] taburineagle commented on #8
OK, this feature has been added - to query the program from lights on the CLI, all you need is the `--list` command (you don't need `--cli --list`, _just_ `--list`), and the program will print out a CLI-formatted table of the lights found by the program, that looks like this:

[code]

[2021-12-20 15:27] taburineagle commented on #11
That's interesting, I've never actually heard of that protocol, but that _would_ be nice.  Ha, this one might be a bit out of my league at the moment though 😅  I'm wondering how that would work - I'm guessing there'd be an interpreter converting Art-net commands into Bluetooth commands the Neewer lights can use.

[2021-12-20 15:34] taburineagle commented on #3
@ec1cw - I've looked into this a bit over the past few days, and while it's doable, it would require another Python library to do (the `keyboard` library), so it would require another dependency to work.

[2021-12-20 15:45] taburineagle commented on #11
Got you, got you - the thing I'm curious about with it though is how to interface that protocol to the Neewer lights, since they just use Bluetooth.  I would assume it's just a manner of listening for a specific command from the board to the NeewerLite-Python program, then a conversion from whatever value that command is doing, to a converted command that a Neewer light can use.

[2021-12-20 16:25] BB21B commented on #11
Exactly, artnet broadcasts over the network.  Then this could be running on say a RaspberryPI. You've already done the hard bit of actually working on the protocol.

I will have a play when I have some time and see if I can implement.

Each DMX addresses is just and 8 bit integer. A single fixture will just multiple addresses Though it's common to combine two addresses for 16 bit control. I would

[2021-12-20 22:12] ec1cw commented on #3
@taburineagle I don't think it's critical, and it should not be a priority at this point. As the colleagues have mentioned, a similar functionality can be achieved with the http server. Taking about libraries, I think it should be helpful to list all the dependencies in the project's presentation. Keep up the good work!

[2021-12-21 00:03] taburineagle commented on #3
True, true - thank you! 😊  I've started working on a [manual for the whole NeewerLite-Python project](https://github.com/taburineagle/NeewerLite-Python/wiki), it's a work in progress, but does document which dependencies are needed for which modes.  At the moment, there are just 2 outside dependencies - `bleak` and `PySide2` - the only _required_ dependency is `bleak`, because that's the system th

[2021-12-21 00:05] taburineagle commented on #11
Got you - interesting!  I'm curious to see what you'll implement - as far as I know, I have no way of testing that protocol out on my end, but I may be wrong, I literally didn't even know it existed until last night, and I've been in broadcast TV for 20+ years 🤣

[2021-12-21 00:48] BB21B commented on #11
It's very useful when you have like 30 universes odd for pixel mapping without having to distribute loads of individual DMX lines that is for sure.

Check out the Open Lighting Project too for some interest.

Plenty of free options to test artnet though. Even ETC EOS can be ran in offline mode for free and that'll spit out artnet happily with random interruptions in the data.

Anyway I just got th

[2021-12-22 15:04] taburineagle commented on #11
Ah, very nice!  I'll check that out, and I look forward to seeing what you develop!

[2021-12-22 15:05] taburineagle commented on #7
@fribse - I'm going to close this issue now, because it's been 7 days and as far as I've been able to test, should be fixed now... if you still have issues with it, feel free to reopen it!

[2021-12-22 15:05] #7 closed

[2021-12-23 12:33] taburineagle commented on #8
@DanielBaulig - Hello!  I'm going to close this issue for now because it's been a week, the feature has been added since the issue was raised.  If you have any issues with the CLI list, please feel free to reopen the issue.

[2021-12-23 12:33] #8 closed

[2021-12-24 00:51] DanielBaulig commented on #8
Awesome, thank you! Sorry, been a little busy last couple of days. Greatly appreciate this.

[2021-12-24 14:56] taburineagle commented on #9
OK!  I have added the correct URL parameter formatting across the board now - so a URL for the HTTP server looks like this:

`http://127.0.0.1:8000/NeewerLite-Python/doAction?light=1&mode=HSI&hue=240&bri=50`

[2021-12-24 14:57] taburineagle commented on #8
You're welcome!  I've been busy myself this week, so I know what you mean! 😊

[2021-12-24 14:58] taburineagle commented on #10
I'm going to close this one out too @DanielBaulig as it's been a week - all is fine now in my testing using multiple browsers at the same time, but feel free to reopen if you come across an issue with this!

[2021-12-24 14:58] #10 closed

[2021-12-28 02:14] taburineagle opened #12 "Enhancement: Add power status/channel information to light information"
Attach Bleak notification receiver to `69400003-B5A3-F393-E0A9-E50E24DCCA99` to get power/channel information for later use.

[2021-12-28 02:59] taburineagle commented on #12
Added here for convenience:

`78 01` - Channel information return
`78 02` - Power (?) information return
`78 81` - Send power command on/off
`78 82` - Send color temp in CCT mode (bi-color lights only)
`78 83` - Send brightness in CCT mode (bi-color lights only)
`78 84` - Request return from `78 01` - _maybe there's something in here to get other forms of status info?_
`78 85` - Request return fro

[2021-12-28 16:21] BB21B commented on #11
Hey again, been going through the code and now have some basic artnet functionality.

Really just a test, at the moment updating individual lights with unique values seems a little awkward with the thread and the sendValue var. I think I'll need to add my own functionality there rather than trying to squeeze it in to the existing function that writes the values.
Right now it's just sending values

[2021-12-30 00:20] taburineagle commented on #11
Very nice, sounds promising - are you using the GUI for the connections to Artnet then, or a different method like HTTP?

[2021-12-30 16:13] taburineagle commented on #12
![image](https://user-images.githubusercontent.com/18430526/147768953-92de29e0-def5-430a-bea6-2f02167266d8.png)

[2021-12-31 10:13] chubmeister opened #13 "Question: Is it possible to leave the connection open instead of closing it each time?"
I'm trying to figure out if it's possible to leave a light connected to my pc so it doesn't need to reconnect every time I want to change light settings. The delay between the command being sent and actually running is pretty long, I'm hoping a constant connection would solve the issue.

[2021-12-31 11:17] taburineagle commented on #9
Hello @DanielBaulig!  Closing this one also as it's been 7 days, and I have changed the HTTP URL syntax to match the request - if you have any issues related to this ticket, please feel free to re-open it!

[2021-12-31 11:17] #9 closed

[2021-12-31 11:22] taburineagle commented on #6
Ha, @fribse - finally, _finally_... I've done it 😅  I want to kick the tires completely on this before commiting (as the actual featureset with this commit adds a lot more than just the repositioned buttons), but this is how the new layout is going to look -

<img width="598" alt="image" src="https://user-images.githubusercontent.com/18430526/147820704-171e7004-3091-4c4c-853d-0fc6c2bdedc9.png">

[2021-12-31 11:58] taburineagle commented on #13
Hello @chubmeister!  Which mode are you using to send commands?  GUI, CCT or HTTP mode?  Both the GUI and HTTP modes allow consistently open connections, but the CLI (command-line interface) doesn't.

[2021-12-31 12:00] taburineagle commented on #12
Side-note:  I deleted the branch instead of doing a pull request, because I want the last *main* revision to be one step behind the latest commit.  Testing it out now, but hopefully will go live this weekend!

[2021-12-31 12:02] taburineagle commented on #3
Hello @ec1cw - I'm closing this issue for now, _not_ as a **wont-fix**, but will open it again later when/if I get a chance to implement the keyboard shortcuts.  I'm working on reading power state/channel/etc. from the light now.

[2022-01-01 08:47] fribse commented on #6
You ARE a star!

[2022-01-01 11:46] taburineagle commented on #3
Ha, @ec1cw - I'm actually reopening this, as I found a way with PySide2 (the GUI constructor) to do this natively without another dependency - it might still be a hot minute or two before I'm able to implement it, but it's not as out-of-the-box as I first thought :)

[2022-01-01 11:53] taburineagle commented on #3
![image](https://user-images.githubusercontent.com/18430526/147849931-18746118-9320-4abc-9f34-327a241de494.png)

[2022-01-01 11:55] taburineagle commented on #6
😀🦝🌟

[2022-01-01 17:09] DanielBaulig commented on #9
Awesome, thank you for doing this!

[2022-01-02 12:03] chubmeister commented on #13
Hey, I'm using the CCT mode.
Can I send the commands through HTTP using batch scripts?

[2022-01-02 13:39] taburineagle commented on #9
You're welcome!

[2022-01-02 13:43] taburineagle commented on #13
You should be good if you're using a program like curl in your batch script, where you can send it URLs.

[2022-01-02 13:56] chubmeister commented on #13
If I remember correctly it was just freezing up when using curl. I'll look
into it again.

On Sun, Jan 2, 2022, 7:43 AM Zach Glenwright ***@***.***>
wrote:

[2022-01-03 00:44] taburineagle commented on #13
If I send curl a command to the NeewerLite-Python server from another computer on my network to control the lights, it doesn't seem to hang on my end - make sure you have the port number in the URL as well -

`curl "http://10.0.0.12:8080/NeewerLite-Python/doAction?light=1;2&mode=CCT&temp=52&bri=50"`

[2022-01-03 00:52] taburineagle commented on #13
Make sure you have the latest versions of NeewerLite-Python too - there _was_ an issue (#10) a few versions back where if you used Chrome, it would monopolize the server and other requests would fail, but that's been fixed since then.

[2022-01-03 04:04] taburineagle commented on #3
OK, @ec1cw - I've added them - the commit lists which ones are available, but I'll post them here too -

`CTRL-PAGE UP` - turn selected light(s) on
`CTRL-PAGE DOWN` - turn selected light(s) off
`CTRL-SHIFT-S` - Scan/Re-scan
`CTRL-SHIFT-C` - Link to the selected light(s)
`ALT-1` - Switch to CCT mode
`ALT-2` - Switch to HSI mode
`ALT-3` - Switch to SCENE mode
`ALT-4` - Switch to Prefs

**Brightness

[2022-01-03 11:05] chubmeister commented on #13
Got it working, thanks. Adding in the quotes worked, didn't like the
arguments otherwise.
Instantaneous now. Works awesome.

On Sun, Jan 2, 2022 at 6:52 PM Zach Glenwright ***@***.***>
wrote:

[2022-01-03 15:25] taburineagle commented on #13
Ah, awesome!  Yeah, depending on which interface you're running curl from, & and ; will trip the command up if you don't enclose it in quotation marks.

[2022-01-04 00:44] #13 closed

[2022-01-04 00:44] #12 closed

[2022-01-04 00:44] #6 closed

[2022-01-04 00:47] taburineagle opened #14 "HTTP Server doesn't work 100% properly in Linux - Windows and MacOS seems to be fine"
Server searches for new lights (so one Bleak call gets through and executed properly), but some either asyncio or threading (or asyncio _in_ threading) call terminates before finishing, and blocks new Bleak processes from starting.  Figure out what the problem is!

[code]

[2022-01-04 00:51] taburineagle commented on #14
This is also after the modification to the server implementation to the ThreadedHTTPServer - the base HTTPServer versions from a few weeks ago don't have this issue, so it's definitely something having to do with threading/asyncio.  Most likely asyncio doesn't terminate properly before the thread is done running.

[2022-01-04 22:16] fribse opened #15 "Enhancement request: Remember settings from last run"
Hi @taburineagle
Wow, this is really taking off, great work with the release!
I was just contemplating that it should remember what the lights was set to on the last run. I also think that it should remember the lights from the last run when we get to it, and just reconnect silently in the background.
I know I will probably NEVER use that 😆 as I will set it up via the stream deck button when I get

[2022-01-05 11:54] taburineagle commented on #15
Thanks for saying so @fribse! ☺️  Those are all good suggestions - I did implement a check for connection in the last set of updates, so in the latest versions, if the light disconnects from the Bleak source in any way, the GUI will now show a "NOT LINKED" and "Light disconnected!" error message letting you know that a relink needs to happen.  The lights remembering what they were last set to woul

[2022-01-06 01:02] taburineagle commented on #15
OK, well, I have added this in - or at least partially... at the moment.  The GUI is still not set up for making a global preferences file yet, _but_ the logic for the preferences themselves is all programmed now.

To test it:
- Create a `NeewerLite-Python.prefs` text file in the same directory as NeewerLite-Python, add the line `rememberLightOnExit=1` to that file, and save it
- Launch NeewerLite

[2022-01-07 13:10] taburineagle commented on #15
Ha, as someone who's had insomnia literally since I was born... I definitely get that 😆

[2022-01-07 16:17] fribse opened #17 "New light tested - works as well"
Just got my very small Neewer RGB176, and that works fine as well:
![image](https://user-images.githubusercontent.com/13660621/148572968-3b6b83b9-11b5-4cbb-8eb0-cf726f39987b.png)

[2022-01-07 16:28] fribse commented on #15
I see the 'Loading global preferences from file.
Not sure what is happening after that.
I now have three lights, and it seems that the last light has problems in connecting (always the last, no matter if I have power to two or three lights).

I now see this error:

[code]
In this run, the 'last light' was the RGB176

[2022-01-07 16:51] taburineagle commented on #15
Hmm... (ha, _yes, I'm up now_ - told you, insomnia 😅) - that error looks like it's having an issue with the request from the light to get the power status/channel info from (I'm guessing) the RGB176.  Is the 'last light' always that model?  And is that the error that gets thrown every time?  In that example, it looks like the light links correctly, but has issues getting the power/channel info.  _

[2022-01-07 17:02] taburineagle commented on #15
I just pushed a slight change to that channel/power return logic - now if it doesn't return enough data, it just _says_ that, and then prints out the information the light did send back.  There might be something "different" going on with the RGB176... or something else _might_ be going on... 🤔

[2022-01-07 21:45] fribse commented on #15
Damned @taburineagle , that's really bad, I only sleep badly when work bothers me too much, but thank god I have a sweet wife that takes care of me then ❤️
I don't see a way to set channel on the RGB176, so I guess there is none. There is only a big dial on the back of it. I haven't looked into the guide yet, so there might be something somewhere.
The RGB176 isn't always the last, and sometimes I

[2022-01-08 00:05] taburineagle commented on #15
Ahh, that's sweet 😊  It's honestly not that bad - my sleep schedule is kind of all over the place to begin with - I work 3rd shift, and sleep in 2 4-6 hour shifts during the day.  It's a bit different, but it lets me have time in the afternoon to get things done, and also gives me more raccoon time - ha, I might as well _be_ a raccoon at this point 🤣

![mpv-shot0010sm](https://user-images.githubus

[2022-01-08 15:15] fribse commented on #17
Today it showed the channel:
![image](https://user-images.githubusercontent.com/13660621/148649459-e9e6749b-8cd7-4396-836b-74b2b36ad45d.png)
But newerlite still crashed 😢

[2022-01-08 15:25] fribse commented on #17
Latest logfiles with the new commit:

[code]

So it didn't crash, and kept talking to it...
That's the only type of error I see from the log...

[2022-01-08 15:29] fribse commented on #15
Good to hear that you found a system :-)
I've moved the specific rgb176 issues to the thread I made for that light. I think the 'preset' thing is a seperate thing, but it's looking very promising I must say :-)
They are VERY cute those raccoon's, I've never seen one, except in captivity, we don't have those in europe :-)

[2022-01-09 03:10] taburineagle commented on #15
That sounds good with the alternate issue, I'll follow up there as well.

Also, thanks for saying so!  Ha, of course _last_ night I ended up sleeping for 10 hours, so it's not every day that's an issue 😊  Yeah, raccoons have fascinated me for a while - it took me 12 years before I was actually able to see them anywhere near me (I live next to a highway, so that's not happening here), and after I f

[2022-01-09 03:15] taburineagle commented on #17
Ah, yes, that's very helpful!  So it is the RGB176 that's having the issue.
[code]
I'm not really sure what (b'6') is, but that's a one element array and not several (normal statuses are 5 elements, including a main part, category, length, payload and checksum) as I'm used to seeing, so it's definitely coming up short on one of the status requests.  I'm curious _which_ status request it's having i

[2022-01-09 03:17] taburineagle commented on #17
Also, if you turn the RGB176 off (well, use the program to put it into energy saving mode), does the status then update to this?:

[code]

[2022-01-09 18:18] taburineagle commented on #3
Added into the main program!  Now you can set custom shortcut mapping for any of the shortcuts in the program.

[2022-01-13 06:47] taburineagle commented on #3
I'm going to close this one again - all should be added @ec1cw - if you have any issues, please feel free to re-open!

[2022-01-13 06:47] #3 closed

[2022-01-13 15:52] fribse commented on #17
I just tested it again.

I still see the message:

[code]

At first discovery it shows:
![image](https://user-images.githubusercontent.com/13660621/149363200-81852172-1f9e-44d8-b560-8e8404f10067.png)

When turned off it shows:
![image](https://user-images.githubusercontent.com/13660621/149363257-68574b40-a2cd-4811-a120-5f9105e0df70.png)

When turned on it shows:
![image](https://user-images.github

[2022-01-14 19:58] taburineagle commented on #17
Got you, OK - well, according to that, the light doesn't actually send any tangible data to the characteristic that feeds that information back (or it doesn't even have that characteristic in it to begin with), so it might be better for me to disable checking that state for that specific kind of light.  Interesting...

[2022-01-14 20:05] taburineagle commented on #17
_Ahhhhhhhhhh_ - just checked the description of that light out on Amazon, and it's written right there:

![image](https://user-images.githubusercontent.com/18430526/149578034-902ade6c-b024-463c-8a9d-c029d2866c92.png)

So that explains the channel situation at least 😊

[2022-01-16 11:10] fribse opened #19 "Enhancement request: Stay open after failure to connect"
Currently if a light fails to connect, the application exits, I would like it to stay open :-)

[2022-01-16 11:10] fribse opened #20 "Enhancement request: Check for already running"
I sometimes accidently starts the application twice, this makes a mess of it :-)

[2022-01-16 17:41] taburineagle commented on #19
Ha, that shouldn't be happening, it should re-attempt to link to the light for as many times specified in `maxNumOfAttempts`, which is also settable in the global preferences tab.  When you say "exits", do you mean it just closes, or does it error out?

[2022-01-16 17:47] taburineagle commented on #20
This one shouldn't be too difficult - it needs some kind of check and balance to show NLP is already running.  Possibly bind it to a socket, and then check against that.

[2022-01-16 18:13] taburineagle commented on #19
Or is this with CLI mode?  Because it does quit out on issues in CLI mode.  Ha, I need a little more info for this one 😊

[2022-01-16 18:15] taburineagle commented on #20
OK, I've got a working example running for this using a lockfile and checking against that.  It might be worth adding in something along the lines of "if you're sure you're not running another copy, click here to start a new copy anyway"

[2022-01-16 22:54] taburineagle commented on #20
OK, I wrote the lockfile method into the main script - it generates a temporary file on launch, and deletes it on exit.  If you run another instance of NLP, it checks to see if that file can be written, and if not, then it states that you're already running NLP, and to close that instance first.  I want to refine it a bit before going live, but that's where I'm at at the moment.  I'm working on a

[2022-01-17 07:00] fribse commented on #20
Hi Zach
That's a good start, sounds interesting with the parallell connecting, because that is taking some time at the moment :-)

[2022-01-17 07:04] fribse commented on #19
I'm currently running the GUI only. Not even with the webserver, haven't had the time to put it in the streamdeck even :-)
If it fails to connect, then it retries 6 times, and then exits.
I think it should just continue with the next light. Then one could try and fix the connection problem and try reconnecting later?
I'm running it from an icon, so it launches the commandprompt, that unfortunately

[2022-01-17 10:49] fribse commented on #20
Just tried the parallell version, wow that helps on the startup time.
Just wondering about why it tries to connect to all three lights when I do a scan after turning on the RGB176?
[code]

I haven't seen it exit unexpectedly in this new version (if a light fails to connect).

[2022-01-17 17:36] fribse opened #21 "RGB480 provoked an error"
I just added my 480RGB light to the setup.
It is an RGB light like the 660 with multiple channels and colours.

It connected, and I could set the brightness and white tone, and then I saw this:

[code]

And now it doesn't react on commands from Neewerlite

[2022-01-17 18:09] fribse commented on #20
Yikes, I'm sitting here, bathed in bright light, and because it failed to communicate with the RGB480, the program doesn't run properly, and can't exit, and now I can't start it again because of the lockfile, so I can't turn the lights off again 🤣 😆

[2022-01-17 18:10] fribse commented on #15
After a crash because of a problem with the RGB480, the program exited badly.

Now I get this when I start it:

[code]

I'll just remove the prefs file of course.

[2022-01-17 18:12] fribse commented on #20
Yikes, the program crashed trying to communicate with the RGB480.
So now I sit here bathed in bright light, and when I start the program I now see:

[code]

😆 😆

[2022-01-17 20:22] taburineagle commented on #21
Ah, I know why this is - because again, the data it was receiving from that light was something along the lines of `b'6`, which has only one element, but it's looking for the 2nd element.  This one is easy to fix, I will post a commit later on tonight.

[2022-01-17 20:27] taburineagle commented on #19
I saw a later posting that this issue went away for you - the program shouldn't be quitting out after erroring out, it should just say "The light failed to link" or something along those lines, and then you'd just need to hit "Connect" again to try a 2nd time - this _might_ have been because the `NeewerLite-Python.py` file and `ui_NeewerLightUI.py` files aren't from the same version.

[2022-01-17 20:30] taburineagle commented on #20
Ha, yes, yes - I know why that is too 😅  The latest version (again, pushing the commit a little bit later on tonight) allows you to force launch NLP, even if the lockfile is still there.  It pops up a dialog asking if you want to launch it anyway when you re-launch it.  So I will submit that a little bit later on tonight, after I fix the issue in #21 (ha, I don't come up with those errors on my en

[2022-01-17 20:37] taburineagle commented on #20
Also, this:

It doesn't actually try to reconnect all 3 lights again, it just runs through the process of checking if they _are_ connected - it checks against the light's Bleak object to see if the is_connected flag is set to True, and if it is, it just says `Successfully linked to light...`, so basically it's just doing another run-through to make sure all is good with the other ones first before

[2022-01-17 20:50] taburineagle commented on #20
Ha, apparently I lied about the 4 hours 🤣 - I pushed a commit from a few tweaks I did this morning that should fix both the lockfile issue and the issue in #21 - if you open a "new" instance of NeewerLite-Python with this commit and the lockfile still exists (either from another version _or_ a crash), the new instance will ask if you'd like to open a new copy anyway.  If you say "yes", NLP will st

[2022-01-18 15:28] taburineagle commented on #21
OK, the new release (0.8) _should_ fix this issue - I implemented a check in the power/channel return logic that returns a default "---" value if the light doesn't provide the routine with enough data (this _should_ eliminate the `IndexError: bytearray index out of range` issue.

[2022-01-18 15:31] taburineagle commented on #20
0.8 should also eliminate this issue - if you're in CLI or HTTP mode, adding the `--force_instance` command-line switch will open a new copy (whether or not the lockfile is in place), and will also delete the file (if it exists) when the program exits.  If you're in GUI mode, a dialog will show saying you have another instance (in other words, the lockfile is still there), but still gives you the

[2022-01-18 15:33] taburineagle commented on #20
I've also changed the verbiage if you try to connect to lights that are already connected - instead of going through the `Attempting to link to light...` message when re-connecting, it only does this if the is_connected flag is set to false.  If the light is already connected, the console output now just says `Successful link on light...`

[2022-01-18 15:34] taburineagle commented on #17
I'm closing this one as the main issues are handled in other issue requests 😊

[2022-01-18 15:34] #17 closed

[2022-01-18 15:37] taburineagle opened #23 "Enhancement Down the Line: Light mode/settings presets"
- [X] Write preset logic (possibly embed this information in the `light_prefs` files)
- [X] Write GUI elements to launch these presets
- [X] Push the commit live

[2022-01-18 15:39] taburineagle commented on #15
OK, I'm closing this one for now as well - I added the "presets" enhancement goal to its own ticket.

[2022-01-18 15:39] #15 closed

[2022-01-18 15:41] taburineagle commented on #19
I'm not sure what was causing this one... I _think_ it might have been due to a `NeewerLite-Python.py` file and `ui_NeewerLightUI.py` mismatch, but I'm not 100% sure on that... but I'm going to close this for now. If you continue having issues with the program quitting out like this after connection failures, feel free to re-open it!

[2022-01-18 15:41] #19 closed

[2022-01-19 03:26] taburineagle commented on #23
@frisbe - This is the starting block of the custom presets section - not much to look at for the moment, but the pre-defined settings have been added.

[2022-01-19 03:28] taburineagle commented on #23
@fribse - This is the starting block of the custom presets section - not much to look at for the moment, just a list of parameters for the "default", non-custom preset settings, but it's the start...

[2022-01-20 12:04] fribse commented on #21
It looks quite a bit better, I will monitor it, I've just reinstalled the PC, so it's a bit chaotic with missing this and that at the moment :-)

[2022-01-20 12:05] fribse commented on #20
It popped up the requester nicely this time :-)
So I guess it's solved?

[2022-01-22 13:59] hezmoz opened #24 "Can't connect?"
Hello!

I'm looking to set my Neewer 660 Pro and 176 RGB lights up for using with my Twitch stream. I've been having trouble getting the software to work so I thought I'd check for help here.

If I open up the UI and click 'scan' nothing shows up.

If I open up the Windows Bluetooth settings and scan for a device, I'm able to see both the lights and connect to them through Windows.

If I run 'blea

[2022-01-22 17:27] taburineagle commented on #24
Hi @hezmoz!  Hmm, interesting - ha, one possibility would to just get a stronger Bluetooth adaptor, but that's a bit of a lazy answer 😊  I'm wondering - in both Windows and the bleakdiscover.py methods, do the lights return their actual names each time?  -74dBm is a fairly low Bluetooth signal, kind of on the fringe, but should theoretically still work...  NeewerLite-Python scans the devices that

[2022-01-22 17:40] hezmoz commented on #24
Hey @taburineagle  thanks for the reply and your wonderful work!

Using a TP Link UB400 adapter in the front of my PC - doesn't seem to be a range issue as I've tried from all angles, literally right next to the transmitter etc and didn't get anything. Have tried multiple ports, usb cable extenders etc.

It's worth noting that when Bleak finds the devices, I just see the MAC addresses and no menti

[2022-01-22 18:16] taburineagle commented on #24
You're welcome!  And thanks for saying so! 😊

**Ha!**  That's even weirder, because that's the same dongle I'm using!  I've been looking into getting a stronger one myself, but haven't found one I like yet.  Even more strange, when I run the bleakdiscover.py script, this is the result I'm getting:

![image](https://user-images.githubusercontent.com/18430526/150650586-8b13d266-7086-4ef0-8dbd-812a2f

[2022-01-22 22:27] hezmoz commented on #24
@taburineagle yeah really weird... Completely new to all this, I installed bleak and pyhton yesterday with no previous experience.

Python 3.10.2
Pyhton 3 3.9.10
Bleak 1.1.1

![A40BECB3-A6DA-43D8-A106-FC864D03E73E](https://user-images.githubusercontent.com/98220604/150657390-bcfdac46-3a92-4194-82d6-55703750e100.png)

Maybe a reinstall will fix things?

[2022-01-23 06:46] taburineagle commented on #24
Possibly... hmm, that's also strange, as I have the same exact Python and Bleak versions too - my bleak-winrt version is 1.1.0 though, that's the only difference.  I wonder if there might be a permission set somewhere that's affecting it - most likely not, but it's not out of the question.

[2022-01-23 08:50] hezmoz commented on #24
@taburineagle Really weird. Just re-installed everything and didn't fix anything. I did actually see the 660 Pro show up on the list one time when I was running bleakdiscover.py but then scanned again and it didn't show up. Really not sure what I'm doing wrong!

[2022-01-23 15:14] hezmoz commented on #24
Update... was able to briefly see the light appear with the correct name again after scanning multiple times, but it only did it twice before is disappeared again and went back to show the MAC without any useful information.

![image](https://user-images.githubusercontent.com/98220604/150685215-79873a80-ce27-441d-b8f6-3bbf01a69117.png)

so clearly it *is* working, it just looks like bleak isn't ab

[2022-01-23 16:45] taburineagle commented on #24
Hello again @hezmoz!  OK, I pushed a new commit that adds capabilities for whitelisted MAC addresses.  To use this, create a text document called `NeewerLite-Python.prefs` in the same path as NeewerLite-Python with this line added, spelled exactly like this:

`whiteListedMACs=`

and then the MAC addresses you want to whitelist after that, separated with semicolons - for example,

`whiteListedMACs=

[2022-01-24 01:23] hezmoz commented on #24
Thank you thank you THANK YOU @taburineagle for the new commit, absolute legend, that worked perfectly and both lights are now Sync'd up, albiet without names. Fantastic stuff!!

![image](https://user-images.githubusercontent.com/98220604/150707547-8c1226ed-71e6-4c09-a0d4-295e5fafb101.png)

[2022-01-24 03:18] taburineagle commented on #24
Ah, excellent, excellent - glad to hear it's working out @hezmoz!  You could go into the Light Preferences for each light and give them custom names individually if you'd like - that's still so bizarre that the names aren't showing up!

[2022-01-24 21:27] taburineagle commented on #21
Ha, yeah, I had to do that at one point last year too - that's always fun trying to figure out what you're missing 2 weeks later!

[2022-01-24 21:28] taburineagle commented on #20
Sounds good - hopefully so!

[2022-01-25 13:54] fribse commented on #21
Yup, like all my davinci resolve projects 😢  Ahh well.
Back to the issue, I don't see the error currently, and I haven't seen it since the last push, so I'll close this I guess?

[2022-01-25 13:54] #21 closed

[2022-01-25 13:55] fribse commented on #20
Haven't seen it since, I will consider this closed.

[2022-01-25 21:38] taburineagle commented on #21
Excellent, sounds good - ha, _yes_!  DaVinci Resolve!  I have been a professional editor for decades, and used a _lot_ of different linear systems and NLEs, and I still prefer coming back to Resolve - and it's (technically) free, if you're using the standard version 😊

[2022-01-25 21:45] taburineagle commented on #23
It's coming along nicely @fribse! - I'm still kicking the tires on all of it thoroughly before setting it into the wild, but it's coming along nicely!  There are 8 custom presets available - in the beginning, they're set up as 8 default presets, but there are also going to be 2 different kinds of custom presets you can sat any of those 8 slots to - "global" presets control one set of parameters fo

[2022-01-26 13:01] fribse commented on #21
😁  then I hope you don't find my YT channel, you would be horrified of the bad job I do 😆

[2022-01-26 13:27] fribse commented on #23
Looks very promising!

[2022-01-28 03:18] taburineagle commented on #23
Thanks!  **IT'S LIVE!!**  I just pushed the commit and made a new release - I'll do more properly showing all it can do in the future (a lot of family things going on at the moment, so I'm not 100% sure when I'll be able to do that!) - but I want to do a video showcasing all kinds of different preset configurations.

[2022-01-28 03:20] taburineagle commented on #21
Hehe, nah!  Not unless you use constant star wipes for every shot! 🤣

[2022-01-29 14:02] fribse commented on #23
Darned, that IS really nice, didn't really figure out the way to set the presets until I f.... up my settings, but after that, it worked very nicely, and the light preferences with custom names, weehee, it's much easier to see which light is which then.
One thing, and I guess that is by design, they don't store the 'on/off' state in the 'custom snap'?

[2022-01-29 21:16] taburineagle commented on #23
Thanks!  Ha, sorry about the settings - I want to more properly document the preset options, how to set and clear them, etc., in either the wiki, or a video, or both, but they're definitely versatile with what you can do with them!  The latest commit (pushed yesterday) also adds a small tool tip on the lights that are affected, showing what their preset does to them (mode, hue, etc.) -

![image](h

[2022-01-29 22:22] taburineagle opened #27 "-=== RUNNING ENHANCEMENTS FEATURE LIST ===-"
This is a list of ongoing enhancements I want to make in the future... this is just a jumping board, so I'm aware of things to check out!

General:
- [ ] Document custom presets in the Wiki manual
- [ ] Add state of light (ON/OFF) to snapshot presets
- [ ] Add preset capability to CLI/HTTP server
- [ ] For ^^^^ add a switch to load a preset, `--preset`
- [ ] Also ^^^ add a switch in the HTTP serve

[2022-02-04 13:27] taburineagle commented on #24
Hello @hezmoz!  I'm going to close this for now as it's (hopefully) been resolved for a while.

[2022-02-04 13:27] #24 closed

[2022-02-04 13:28] taburineagle commented on #23
Right, right, got ya @fribse - I'm working on that now :)  Haven't had a lot of time the last few days to work on it, but I wanted to do a "if the light is off, then store that" section, as well as turning lights on that have a value set that are currently off.

[2022-02-09 19:58] taburineagle commented on #23
@fribse - I added that in!  Note, for this to work (by design), the light has to actually be told to "be off" (it has to be turned off via the "Turn Light(s) Off" button) - when you store a snapshot preset, that value will be stored with it, so if you have one light off and 2 lights on in the preset, that light should turn off when clicking on that preset (if it's currently on), and turn on when c

[2022-02-14 08:42] fribse commented on #23
Hey, that sounds very clever, I'll do an update later today :-)

[2022-02-16 17:05] fribse opened #28 "RGB480 will not connect any longer?"
Hey there

NeewerLite-Python 0.9

For some reason my RGB480 won't connect ano more.
I can sometimes see an empty line in the GUI.
I can connect to it without any issues from the App.
I've tried setting the light to different channels, so far without success.

[2022-02-17 00:00] taburineagle commented on #23
Nice!  I updated all of the documentation for custom presets on the Wiki too -

https://github.com/taburineagle/NeewerLite-Python/wiki/(1)-The-GUI-(Graphical-User-Interface)

[2022-02-17 00:01] taburineagle commented on #28
Hmm, very odd - is it just the RGB480 that's having issues?

[2022-02-17 10:49] Jylze opened #29 "Device - name ='NoneType' None"
Hey

For starters this project is brilliant, only way I have been able to control my Neewer 660 Pro's from Win 11.

I had to teach myself Python today and also how to use PyCharm as I couldn't get the script to run, so please feel free to shoot me down if this issue is a me problem.

Originally I thought it was related to the depreciated asyncio.get_event_loop() warnings but after placing in a few

[2022-02-17 11:09] Jylze commented on #29
Oh and final code for me was just two if statements to check for None : if str(d.name) != "None":

![Final](https://user-images.githubusercontent.com/99874107/154469311-bea5908e-0929-4013-a96c-a0bef4441061.jpg)

[2022-02-17 12:33] taburineagle commented on #29
Hi @Jylze!  Thanks for saying so, and thanks for the debug information!  I haven't used Win11 yet, and I also haven't used PyCharm myself, but I want to check that out, as it definitely looks more in-depth for debugging than VS Code.  For instance, I don't get any asyncio errors, but that might just be due to my test environment (it makes sense after seeing that that I should check first to see if

[2022-02-17 15:42] taburineagle commented on #29
OK, @Jylze - I've reworked this section a bit for the latest commit - NeewerLite-Python first checks to see if the current device being checked against is "whitelisted", and if not, _it then checks to see if it has a proper string from Bleak_, and if it does, then it checks to see if it has "NEEWER" in the title.  More streamlined this way, and it _should_ work where the last version you tried ori

[2022-02-17 22:56] Jylze commented on #29
Amazing, works perfectly. Thanks you for the quick reply @taburineagle :)

I'm quite impressed with PyCharm with its inline debugging, mind you its been over 9 years since I have done any coding, but it was quick to pickup and use.

[2022-02-17 22:56] #29 closed

[2022-02-21 17:44] fribse commented on #28
Yes, well, today it connects again, that is really odd...

[2022-02-21 17:46] fribse opened #30 "Hmm, counting how many attempts to connect?"
![billede](https://user-images.githubusercontent.com/13660621/155005057-97d3a187-9c58-4490-a50d-aaee788baeb6.png)

😆

[2022-02-21 20:26] taburineagle commented on #28
It's possible that you had the app still active on the phone in some form and the 480 was still connected to it, so NeewerLite-Python couldn't connect to it.  I've had that happen before.

[2022-02-22 04:48] taburineagle commented on #30
Ha, yes... 🤣 - I'll take a look at that!

[2022-02-22 20:56] #30 closed

[2022-02-22 20:56] taburineagle commented on #30
Ha, not sure why GitHub automatically closed this, _but_ this should be fixed now :)

[2022-02-24 16:56] #23 closed

[2022-03-02 12:33] taburineagle commented on #28
That is very odd!  I'm honestly just as confused :/  It is just happening to the RGB480, correct?  Ha, the phone _might_ be faster, but at the end of the day it comes down to how the dongle and Bleak handle things 😅  NeewerLite-Python is just an intermediary to Bleak.  Reinstalling NeewerLite-Python _shouldn't_ make a difference either way (I think that's what you mean by "installing the app" - I'

[2022-03-02 12:36] taburineagle commented on #28
Ha, to add to that, sometimes my Raspberry Pi setups with internal Bluetooth are even weaker than the PC's BT receiver, so they have even less success with connections (although those Pis are Pi Zeros in those setups, so their BT radios may be slightly weaker, _and_ they are trying to receive from inside of a plastic enclosure, so that may be attenuating the signal).

[2022-03-02 15:40] taburineagle commented on #28
Got you, interesting about the Pi Z Wifi/BT issue, I wasn't aware of that - ha, but now that you mention it, I have had issues with the Pi Z testing both the Wifi (for sending info back to my main Camera diagnostics system) and BT simultaneously (when trying to interface with the lights), so good to know.  Yeah, I know it's frustrating when one thing works and another similar thing doesn't (ha, es

[2022-03-02 15:55] taburineagle commented on #28
I just noticed, in this picture you shared in the "Attempt 7 of 6" post, the RSSI (signal level) for the 480 was _really_ low (well, _high_, but high is low) - a lower number like in the range of the mid -60s to -40 is decent, -70s are doable, but -88 is a _really_ weak signal -

![image](https://user-images.githubusercontent.com/18430526/156397425-f04c175d-26a5-4d47-a8f9-215ebf2a142c.png)

This o

[2022-03-03 11:43] fribse commented on #28
The Antenna in the RGB480 SUCKS 😆
I've put the dongle on an extender cord, and placed it rather close, it's placed above the monitor, only 40 cm from the light.
The three other lights are 100-120 cm away from the dongle, this is what it shows:

![billede](https://user-images.githubusercontent.com/13660621/156558142-e9fddd6f-2b13-44f7-8c9f-4a6a5d4c63c5.png)

I think it must be the antenna quality,

[2022-03-03 11:43] #28 closed

[2022-03-03 12:31] fribse opened #35 "Testing out on RPi, not allowed to connect"
Testing out in headless

My LAN is set up with 10.11.12.0/24
The RPi is at 10.11.12.238
My WS is at 10.11.12.40
When I connect I get
`10.11.12.40 - - [03/Mar/2022 13:14:20] code 403, message The IP of the device you're making the request from (10.11.12.40) has to be in the list of accepted IP addresses in order to use the NeewerLite-Python HTTP Server, any outside addresses will generate this Forb

[2022-03-03 13:18] taburineagle commented on #28
Ha, that sucks!  Hopefully the big antenna helps out with the reception! 😊

[2022-03-03 13:27] taburineagle commented on #35
Ha, yes - this one's easy to explain.  _Although since you're on a Pi, I see I need a non-GUI solution to this, so that'll upcoming... ha, good to know!_ - There's a list of "allowed IP addresses" in the preferences that allow specific IP ranges through.  By default, the ranges are `127.0.0.1` (which is why the Pi itself works) as well as IP ranges `192.168.*.*` and `10.0.0.*` - to add 10.11.12.0/

[2022-03-06 20:52] fribse commented on #35
Hmm, so where is the light_prefs folder, under /opt/NeewerLite-Python ?
I tried creating that, and then a NeewerLite-Python.prefs inside that one and adding the line, still no joy

I tried starting it in the GUI, and I got told that I need PySide2
But when doing a pip install PySide2 I got
[code]
It looks like there are real issues for PySide2 on Raspberry OS.

[2022-03-07 02:57] taburineagle commented on #35
Interesting - yeah, I tried both `pip` and `pip3` for PySide2 and got the same result.  To be honest, I never even considered running the GUI on a Raspberry Pi (I've always thought of that platform as a headless CLI system, even though there _is_ a GUI system available for Raspberry Pi OS) - so not having a way to set the preferences _without_ using a GUI didn't come to mind until this issue was r

[2022-03-07 07:55] fribse commented on #35
I did follow the systemd instructions, so I should be on 0.11, it doesn't really say clearly in the log or the code, but the package is called 0.11 :-)

The structure looks like:

[code]
But accessing it from 10.11.12.40
[code]

[2022-03-07 08:17] fribse commented on #35
Hmm, the pc prefs might not be directly compatible :-o

[code]

[2022-03-07 09:51] fribse commented on #35
So I've gotten it set up as a service. WiFi and BT doesn't really play well together on the RPi, serious connection issues, and lower signal strenght compared to running on cabled net.
When it's running as a service, where is the logfile? I can get it flowing by using journalctl -f -u neewerlite-python but is it stored somewhere in /var?
Secondly, it looks like the 'link' doesn't really work. If I

[2022-03-07 16:37] taburineagle commented on #35
Ha, quite a few things - sorry it's been such a pain in the ass!  Pi testing has been a bit behind the GUI and CLI versions... The Pi was my intended end, but the GUI eventually took precedence, and I admittedly haven't completely worked all of the kinks out with the Pi-specific version of it.

It does in a few places (the GUI has it, and the HTTP server does show it on the footer), but the code _

[2022-03-08 12:40] fribse commented on #35
Eh? Pain in the ass, no, don't take it like that, there is no complaining from me, I'm just happy for all the great work put into this!
I just wanted to report back what I've encountered so far, no stress at all, and with the minor code modifications you so kindly pointed out, it's running smoothly.
My youtube studio lights are now completely automatic, so when I press the button on the stream dec

[2022-03-08 15:16] taburineagle commented on #35
Ha, that's good to hear 😊  Not taken any bad way - I definitely appreciate all the reports you've given me!  Hehe, and honestly, testing _can_ be a pain in the ass sometimes, but that's a good thing because it helps improve things.  I would like to add a more indicative status display on the HTML page, most likely Javascript-based, so I can change a line or two of status reports, and the page itse

[2022-03-12 14:56] fribse commented on #35
Btw. the correct LAN zone for 10 is 10.0.0.0/8 :-)

[2022-03-12 22:09] taburineagle commented on #35
Got ya!  I wasn't sure if all of 10.0.0.0/8 was all private intranet or not (my ISP "rent-a-router" kind of system only uses 10.0.0.*), although now that I look that up, I see that it is... I will change that in the main code, then, when I get a chance to - I'm working on a freelance project that's taxing most of my time at the moment 😊

[2022-03-16 23:39] taburineagle commented on #35
OK, @fribse - I still haven't had a chance to crack the code open again since the last release (freelance project is done and delivered, so I do have more time now), but I understand what happened with the accented characters.  The Ø character in hex (for Øvre venstre and Øvre højre) doesn't decode properly in UTF-8, but they _do_ in ISO-8859-1 encoding - so I need better codec handling for the cu

[2022-03-17 10:49] taburineagle commented on #35
Ha, _well_, I was a bit right, but not 100% - the UTF-8 encoding does handle that properly, but I had to explicitly define it in the HTTP server's rendering of the page.  I will test that out more in the coming days...

[2022-03-18 09:14] fribse commented on #35
Well Ø and ø are in UTF-8 and UTF-16, so it should decode properly.
Yes, it is rather strange when it's the same code showing the text

[2022-03-18 11:46] taburineagle commented on #35
I think I have it sorted out - I had to add the HTML META tag to the renderer to force it to render everything in UTF-8 -
`<META HTTP-EQUIV='[Content-Type]' CONTENT='[text/html;charset=UTF-8]'>`

Now it seems to work fine with the accented characters.  Ha, I added an ß for good measure as well, just to test multiple characters out -

<img width="548" alt="Screen Shot 2022-03-18 at 7 43 00 AM" src=

[2022-03-21 06:11] fribse commented on #35
Eh, no lights? What did you do to them :-D?
I was just wondering, I've switched completely to use it through the raspberry pi webinterface now, as I can now remote control the lights through my stream deck, which is really nice. The BT adapter in the RPi is ok, it gives out readings between -65dB and -79dB. I'm still waiting for the long range BT ( https://www.aliexpress.com/item/1005003142275483.

[2022-03-22 16:16] fribse commented on #35
I just tried my new bluetooth long range dongle on the RPi3b.
I have disabled the on-board.
With lsusb I see:
[code]
So the bluetooth is there.
hciconfig gives me:
[code]
Which I guess is also ok.
But the neewerlite-python doesn't catch it, any idea on how to make it do that?

[2022-03-23 14:14] taburineagle commented on #35
Ha, I saw the original comment you left before this last one (I think you deleted it), but... I forgot to bring the lights with me to test, hence the watch 🤣  Hmm... let me see here.  I know how to use multiple wifi access points (I do that with curl, you can specify which interface it uses), but I'm not as familiar with using multiple Bluetooth devices.

[2022-03-23 14:39] taburineagle commented on #35
I found this link after searching though several different ones that weren't nearly as helpful - hopefully this has some usable tips for switching interfaces.  I haven't had a chance to try anything in this link out personally, but it does sound like it's on the right track -

[https://www.pcsuggest.com/linux-bluetooth-setup-hcitool-bluez/](https://www.pcsuggest.com/linux-bluetooth-setup-hcitool-b

[2022-03-27 10:52] PrezP opened #36 "Unable to control brightness/temp on SNL530"
I have a SNL530 that I have successfully connected via HTTP on Raspberry Pi. The on/off command works, but brightness and temp do not. This is using CCT mode.
There are no functionality issues when connecting the light with the official Neewer phone app. I'm guessing the protocol for these lights is slightly different?

[2022-03-27 12:21] taburineagle commented on #36
Hi @PrezP!  One question, and one "try this" - is the SNL530 a bi-color (only CCT mode is available) light, or RGB (full-spectrum color) light?  If it's a bi-color light, then they do use a different protocol - **but** - try this first - make sure you have the light selected, click on the "Light Preferences" tab, then "This light can only use CCT mode", and then "Save Preferences" - you _should_ b

[2022-03-27 12:28] taburineagle commented on #36
Ahh, I just noticed the Raspberry Pi comment too - if you don't have access to the GUI, you can create the preferences file for that light like this:

- If there isn't one yet, create a `light_prefs` folder in the same folder as NeewerLite-Python
- Create a text file in that new folder with a name that's the same as the MAC address of the light, but with no ":"s
   (for example, if the light's MAC

[2022-03-27 13:15] PrezP commented on #36
Thanks @taburineagle, I followed your instructions and this works! SNL530 is indeed a bi-color light with a temperature range of 3200K-5600K.
One thing I noticed is that the commands I was sending had `&on` or `&off` in them, this blocks the `brightness` and `temperature` parameter from being updated. Everything works as intended when this parameter is excluded.

I tested again to see if it could

[2022-03-27 20:17] taburineagle commented on #36
Ah, excellent!  I'm glad to hear that it worked.  The reason why I asked if it was a bi-color light is that I do have logic in the main program that turns that feature on automatically for lights that are only bi-color lights, so now I can add the SNL530 to that list of lights.  I'm wondering if `SNL` is Neewer's code for bi-color lights - I might need to just add the "SNL" phrase as a trigger to

[2022-03-28 09:37] PrezP commented on #36
My light appears as NEEWER-SNL530 in the interface. Looking at their website, the last page of the [Neewer app manual](https://neewer.com/pages/en-instruction-for-neewer-lighting-control-system-app) has a table of lights, features and compatibility, though it's in a not-so-friendly image format.

[2022-03-28 19:22] taburineagle commented on #36
**Ahh!!!**  Thanks for that, that's actually extremely helpful, I wasn't aware of that list!  So apparently all of the lights in the SRP, ZRP, SNL families, as well as the GL1 and NL140 are bi-color only lights.  Interesting... it _also_ lists which lights have group control and which ones don't, which is also helpful.  I'm not sure what "NEEWER INFINITY" is, but a lot of those ones listed above a

[2022-04-17 02:03] TheVOW opened #37 "Enhancement- Trying to Connect to Lumia Streams to allow stream chat to control lights through commands"
I have 0 experience in coding, and have spent the last 4 hours or so figuring out how your program works. Still haven't figured out how to start the program with the --http parameter, so I have been unable to connect the software to my streamdeck. I was hoping to use my Neewer lights for stream, and set it up where my chat can trigger specific colors and scenes through donations and channel points

[2022-04-17 03:43] taburineagle commented on #37
Hi @TheVOW - sorry you're having issues getting things to work!  A few questions, which platform are you currently running, Windows, MacOS, Ubuntu/Linux, or something headless like a Raspberry Pi system?  Also, are you getting any _specific errors_ in trying to get it to work (as in it launches, but the functionality isn't cooperating somewhere), or is it just not launching at all?  I need a bit m

[2022-04-17 05:26] fribse commented on #37
Hi @TheVOW
That is the exact setup I've done here.
I have it set up on a Rpi3, running in HTTP mode, and the stream deck is issuing http commands to it.
There is a good guide in the docs on setting it up on a RPi. You can of course also set it up on a PC, which platform are you using?

[2022-04-17 11:30] taburineagle commented on #37
Hey @fribse - is everything still going well with your setup?  Ha, I've been in and out doing other projects in the past few weeks, I have to admit I haven't had a lot of time to tinker with NeewerLite-Python lately :/

[2022-04-17 13:04] fribse commented on #37
Yes, for the current setup it's working perfectly 😉

[2022-04-18 17:40] taburineagle commented on #37
Ah, excellent!

[2022-04-21 21:49] TheVOW commented on #37
Still getting used to this site! Didn't realize I had received some responses, you guys are amazing! I am running a PC with Windows 10. When I try to run that command in my command prompt I get this message:

Python was not found; run without arguments to install from the Microsoft Store, or disable this shortcut from Settings > Manage App Execution Aliases.

I know I have Python, because I have b

[2022-04-21 21:50] TheVOW commented on #37
I have Python, got Bleak installed, and got Pyside 2 installed. I am able to open and run the GUI and it has connected to my lights, but I still can't open the HTTP browser, and connect it to my Stream deck.

[2022-04-24 11:55] taburineagle commented on #37
Sorry for the delay!  OK, so if you open a command prompt and just type in

`python`

It gives you this error?:

A tip from [someone else on StackExchange](https://stackoverflow.com/questions/65348890/python-was-not-found-run-without-arguments-to-install-from-the-microsoft-store) gives this possible tip -

[2022-04-24 18:38] TheVOW commented on #37
Gotcha, I downloaded Python from the windows store and that seems to have fixed the problem. Now I get this message

python3: can't open file 'C:\\Users\\Will Powers\\(path': [Errno 2] No such file or directory

Do I need to reinstall bleak now that I have downloaded Python from another source, or is it that my downloaded file NeewerLite - Python is still in my download folder?

[2022-04-27 07:51] taburineagle commented on #37
What was the path you used?  Ahh, I think I see what you mean - when I said

`(path to NeewerLite-Python)`

I mean to insert the path you currently have set where you have NeewerLite-Python stored - so it would be something like (this example would work if you have the .py file in your Downloads directory):

`python3 'C:\Users\Will Powers\Downloads\NeewerLite-Python.py' --http`

[2022-06-11 12:39] fribse commented on #35
I'll close this for now, it's working ok with the built-in BT receiver in the RPi, so I think I'll save this for later... :-)

[2022-06-11 12:39] #35 closed

[2022-06-11 12:52] fribse opened #38 "How do I create the prefs for naming the lights on the webbased install?"
Hi @taburineagle
Still working very very nicely here, my youtube studio is almost fully automatic, when I press the correct button on the stream deck, it lowers the blinds, saves the states of the normal lights, turns on the studio light when the blind is low enough, just perfect!
I had previously removed the prefs files for naming of the lights, as they messed up everything.
You solved that after

[2022-06-12 13:03] taburineagle commented on #38
Hello @fribse!  It's been a while 😊

I'm glad everything's working out for you so far!  I'm working on a few NeewerLite-Python things (and quite a few other things, hence the delay), but haven't had a chance to make the CLI preferences engine yet.  Here is the format:

The files are named after the MAC address of the light, with the colons removed, and in all caps - so:
`AA:22:BB:33:CC:44` would r

[2022-06-16 19:25] fribse commented on #38
Hmm, the name doesn't show in the WebUI.
The lights
![billede](https://user-images.githubusercontent.com/13660621/174148743-aa462bf8-8411-4b96-b652-7d8933fd02e5.png)
So I created a file called CB7258582664 and placed it under light_prefs
The file just contains a single line:
Front venstre|False|False
I've also updated it to 0.12, so I guess the second parameter is wrong?
But the custom name is jus

[2022-06-17 12:56] fribse opened #41 "After switching to 0.12 it does not apply the 'presets' until I go to the browser and do a few refreshes?"
I have the setup on RPi as you might know,
With the current version 0.12 if I click the 'preset' in the webpage, it doesn't apply it until I refresh the page af few times, the same happens with the URL I use in streamdeck?

[2022-06-17 14:18] taburineagle commented on #38
Hmm... even with the "False" in the 2nd position, that should still work... interesting.  I'm wondering if the program's still seeing the custom file when it loads.  Does the log output say
`A custom preferences file was found for CB:72:58:58:26:64!`
when it finds that light?   I'm wondering if something odd is going on with where NeewerLite-Python is installed, because I think I remember you had

[2022-06-17 14:19] taburineagle commented on #41
That also shouldn't be... 0.12 isn't really ready for "primetime" yet, but the logic to loading presets hasn't changed.  Hmmm...

[2022-06-17 14:24] taburineagle commented on #41
Just quickly testing the HTTP server out here (which is just putting the lights I have near the PC (SL80, RGB660 and SNL660) and running the latest 0.12 code), I personally don't notice any issues with presets.

[2022-06-17 14:26] taburineagle commented on #38
I also want to add the ability to change the name of the light from the HTTP server eventually - I think I found a JavaScript function I can use which I can then tie into the existing commands on the HTTP server to prompt someone for a new name, and save it if the user clicks on "Rename light" or something along those lines.

[2022-06-17 23:49] taburineagle commented on #38
OK - @fribse - it's not commited yet, but I have a JavaScript solution written for custom names - click on "Edit", it'll prompt you what you want to change the name to.  Give it a new name, it'll change the name, write the light_prefs file with the new name and continue on - cancel out or keep the name the same, it doesn't do anything.

![image](https://user-images.githubusercontent.com/18430526/1

[2022-06-18 11:55] taburineagle commented on #38
I've added the JavaScript button to the HTML page for renaming lights in the last series of commits - I'm not 100% ready to release it as the new version yet, as I want to go over everything first, but I should be done with all of that by the end of the weekend!

[2022-06-18 22:02] taburineagle commented on #36
Hi @PrezP - I'm going to close this issue as it's been a while, and 0.12 _should_ address this issue (as it now loads the correct settings for the SNL530 on launch) - if you have any other issues, please let me know!

[2022-06-18 22:02] #36 closed

[2022-06-18 22:02] taburineagle commented on #37
Hi @TheVOW - I'm going to close this as it's been a while and I haven't heard anything lately... please feel free to reopen if you still have issues!

[2022-06-18 22:02] #37 closed

[2022-06-18 22:03] taburineagle commented on #11
Hi @BB21B - I'm going to close this as it's been a while and I haven't heard anything lately... if you have anything else to add to the issue, please feel free to reopen it!

[2022-06-18 22:03] #11 closed

[2022-06-18 22:06] taburineagle commented on #38
@fribse - OK, I've officially released 0.12 now.  The JavaScript button should be good to go on the HTML page, if you click that, with or without a pre-existing preference for the light in the `light_prefs` folder, and provide a new name, it will change the name of the light in the HTML UI, as well as generate the requisite prefs file.

[2022-06-19 11:25] fribse commented on #41
Very odd, it shouldn't be because I'm using firefox, as it's from my streamdeck, but it could of course just be a network problem.

[2022-06-19 11:27] fribse commented on #38
Wow cool, I did make it work with the prefs file, but I had to restart the neewerlite software to get it to pick it up.
I'll close this issue, thankyou for the great work!

[2022-06-19 11:27] #38 closed

[2022-06-19 11:45] fribse commented on #38
Oh, and the naming works perfectly with 0.12

[2022-06-20 02:18] taburineagle commented on #38
You're welcome!  Yeah, you would need to close it and re-open it < 0.12, or disconnect from the light and rediscover it, but 0.12 changes that - good to know that's sorted 😊

[2022-06-20 02:21] taburineagle commented on #41
Yeah, it shouldn't be a browser problem - I've used several different browsers in the past and they all behaved the same - except for Chrome (for some reason it sent every request twice, it's how Chrome is wired), but I fixed that a few months ago.  It could be a network issue, or maybe one of the lights is slowing the other ones down - that happens sometimes when the connection is slower to one o

[2022-06-20 02:32] taburineagle commented on #41
I'm also curious - does the NeewerLite-Python console list the commands being sent when they don't work?  I wonder if it's a cache thing, like the browser says "we already _loaded_ this, we don't need to do it again" or something along those lines.  It should show something along the lines of

[code]

when they go through (this command was for Preset # 1)

[2022-07-02 05:19] fribse commented on #41
Hmm, didn't get a notice that you replied :-D
How do I get the log shown, can't remember?

[2022-07-11 23:11] taburineagle commented on #41
Ah, ha, and I didn't get a notification about your reply either... interesting GitHub 🙄  @fribse Sorry for the delay!  If you run NeewerLite-Python from the command-line instead of the service (stop the service first, `sudo systemctl stop neewerlite-python`, then run the command the service would be running on the command line itself, something like `python3 /opt/NeewerLite-Python/NeewerLite-Pytho

[2022-08-05 15:58] Lisra-git opened #44 "After upgrade to Windows 11, Scanning isn't working from http"
Hello,
after upgrade to Windows 11, scan from http server got huge difficulty to complete, here is log from CMD :

[code]

Thanks for any help

[2022-08-10 08:13] taburineagle commented on #44
Hi @Lisra-git - sorry for the delay in responding!  I'm not 100% sure what's going on here, it looks like an asyncio CancelledError issue, but I'm not sure _why_ it's cancelling - maybe it was the upgrade to Windows 11 that did that (possibly Bleak has an issue where it's not yet compatible with Win11?)  It definitely looks like it's partially working, as it's getting the light information on boot

[2022-08-10 08:15] taburineagle commented on #41
That's weird... I still think it's a page caching issue, like the browser that's loading the page loads the data from the last time the page loaded, instead of re-sending it to NLP's HTTP server.  That's one reason I was curious if the commands themselves were being shown in the console, because that would prove NLP is at least receiving the commands when it acts up.

[2022-08-10 08:31] Lisra-git commented on #44
Hey
Thanks for replying
Actually I tried the GUI and Scan operation crash too
Sometime by rebooting the program and launching the scan again it will be successful but it's just a pain to do.

[2022-08-10 08:44] taburineagle commented on #44
That's interesting - do you get the same kind of error with the GUI then?  The asyncio.CancelledError?  It looks like it's getting hung up on the connection phase - it scans for the lights fine, but when it goes to connect to them, it runs into an issue.  I will say, the RSSI level on those lights are pretty weak (~-80dBm), so it might have issues connecting to them due to that.  Although if Windo

[2022-08-10 12:45] Lisra-git commented on #44
Yes exact same error
Did rollback to Win10 due to that and all work perfect like before

[2022-08-11 08:35] taburineagle commented on #44
_Huh_ - that's so odd!  I'm curious what's causing that now.

[2022-08-27 19:25] fribse commented on #41
Hi @taburineagle
I finally caught it. So I've been recording videos all day long.
I also turned the lights on and off several times, suddenly it doesn't finish the job, and I have to go to the webpage to do a refresh.
So the log looks like this when I select preset 2 which is the 'on' mode:

[code]

But I don't see ANYTHING for the turning off (preset 1) until I do a refresh, and then the 'sender'

[2022-08-27 19:28] fribse opened #45 "Enhancement request: Busy signal on HTTP server"
Hi @taburineagle
I hope you still work on this from time to time, it's a much appreciated project, and I promote is in my videos :-)
It would be great if you could get a 'busy' signal implemented on the webinterface, so that when it is searching for lights, it tells somebody about it, so you wouldn't just click away on all the buttons when being impatient :-)

[2022-08-29 23:41] taburineagle commented on #45
Ah, awesome - thanks for the promotion @fribse!  I'm definitely still working on it, just taking some time to work on some other projects at the moment - I'm trying to fine-tune my motion-sensor camera system (ha, which is the reason I wanted to write NL-P in the first place), which is a a little Pi-hat board I designed using an ATTiny85 chip, running on a Pi Zero (both the AT chip and Pi run code

[2022-08-29 23:42] taburineagle commented on #44
I'm going to close this for now @Lisra-git - I would like to get either a Win11 install or VM and test this out more in the future, but that's not quite on my plate at the moment... I'll let you know what happens when I get to that!

[2022-08-29 23:42] #44 closed

[2022-08-29 23:44] taburineagle commented on #41
_Huh_ - interesting!  I'll have to check more into this!  It _could_ be one of the links is a bit slow and making everything else slow with it, but I'm not 100% on that one.

[2022-09-04 23:57] yodatak opened #46 "Error linking to light NEEWER-RGB660"
Hi thanks for your app , i cannot make it works with Fedora 36 with Python 3.10.6, python3-pyside2-1:5.15.2.1-4, bleak 0.16.0

Have you got any idea how to make it works ?
Thanks again !

 yodatak@fedora  ~/Projets/NeewerLite-Python   main ±  pip3 install bleak
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bleak in /home/yodatak/.l

[2022-09-05 11:03] taburineagle commented on #46
Interesting - it looks like something may have changed with Bleak since the version I wrote the program with, because of the _DeprecationWarning_.  It actually looks like it's more of an issue with Python versions > 3.10, as I see [other projects that use asyncio with the same error](https://github.com/psf/black/issues/3110) - I'll check more into this...

[2022-09-05 11:13] taburineagle commented on #46
I think I have a lead on a fix for this - the verbiage seems to have changed since the Python version I'm using (3.8 - I need to upgrade 😅) - so I'll work on a fix for the DeprecationWarning error.

[2022-09-11 11:05] taburineagle commented on #46
OK @yodatak - I've released a new version (0.12b) which should fix this issue - or at least creates the event loop in a more Python > 3.10 way, so it _should_ fix the issue.  I tested it on both Python 3.9 and 3.10.7 on Windows, Mac and Ubuntu and it worked on all of those setups, so it should theoretically also work on Fedora.  Let me know if you have any issues!

[2022-09-11 21:03] yodatak commented on #46
Thanks i got this error now  and i canot see the bluetooth device
 yodatak@fedora  ~/Projets/NeewerLite-Python   main  python3 NeewerLite-Python.py
---------------------------------------------------------
             NeewerLite-Python ver. 0.12b
                 by Zach Glenwright

---------------------------------------------------------
QSocketNotifier: Can only be used with threads starte

[2022-09-11 21:20] yodatak commented on #46
Or this error was because i don't have the bluetooth usb connected :
now i got this error
![image](https://user-images.githubusercontent.com/704477/189549297-d7763ea1-9a12-491a-af21-533c102c7c72.png)

[2022-09-11 21:23] yodatak commented on #46
More try
![image](https://user-images.githubusercontent.com/704477/189549386-0355f086-3989-4988-90dd-d8e0863bc907.png)

[2022-09-11 22:59] yodatak commented on #46
I try to build it in a flatpak and i got the same problem if you are interested in testing the flatpak and publish the app in flathub don't hesitate i will made a PR but i'm not sure if its works because of my light that don't connect

[2022-09-12 02:09] taburineagle commented on #46
I might take you up on that, although I don't know what flatpak is :)  I need to do some research on that.  I do see the light did manage to connect _once_ in your "more testing" picture -

![image](https://user-images.githubusercontent.com/18430526/189560782-7a499cbc-cab4-4fd0-b39c-c75137a8aaaa.png)

I'm not sure where the light physically is in relation to your PC, but it _might_ be a weak conne

[2022-09-12 19:11] yodatak commented on #46
I try closer same error for me.

Flatpak is a way to package a desktop application a universal way it can be install on all system with flatpak  and published on the store https://flathub.org

[2022-09-12 23:45] taburineagle commented on #46
Got you - that might be a good thing to look into!  OK, I've downloaded Fedora myself and installed it into a Virtual Machine running on Oracle VirtualBox -

Fedora 36, Python 3.10.4, and these packages from pip, in a venv Python virtual machine:
PySide2-5.15.2.1-5.15.2-cp35.cp36.cp37.cp38.cp39.cp310-abi3-manylinux1_x86_64.whl
Shiboken2-5.15.2.1-5.15.2-cp35.cp36.cp37.cp38.cp39.cp310-abi3-manylinux

[2022-09-14 02:39] yodatak commented on #46
Hello i just test with another computer it works i think its my bluetooth usb key that is not good
So i have the bug but its not your app maybe bleak or something ^^
I try to send you patched files in a PR to get you app in flathub store

[2022-09-15 00:00] taburineagle commented on #46
Ah, excellent - it might be an older Bluetooth dongle that doesn't fully support BLE (Bluetooth Low Energy), but I'm not sure... thanks!

[2022-09-16 22:03] yodatak commented on #46
With
Bus 003 Device 023: ID 0a12:0001 Cambridge Silicon Radio, Ltd Bluetooth Dongle (HCI mode)
sudo hciconfig hci0 lestates
Supported link layer states:
	YES Non-connectable Advertising State
	YES Scannable Advertising State
	YES Connectable Advertising State
	YES Directed Advertising State
	YES Passive Scanning State
	YES Active Scanning State
	YES Initiating State/Connection State in Central Rol

[2022-09-16 22:41] yodatak opened #49 "Flatpak and Flathub support"
This issue to follow all the things needed to make flatpak
- Have a desktop file
- Have a metainfo file like this https://www.freedesktop.org/software/appstream/docs/chap-Quickstart.html#sect-Quickstart-DesktopApps
- Have a logo
- Have a PR on flathub
- Have some docs how to install it

Some docs we could use:
https://www.flatpak.org/
Why Flatpak https://docs.flatpak.org/en/latest/introduction.htm

[2022-09-16 23:03] yodatak commented on #49
For logo #50
For desktop #52
For metainfo #51

[2022-09-16 23:14] yodatak commented on #49
For Flathub https://github.com/flathub/flathub/pull/3505
We don't have to have the files in the flathub if the #50  #51 #52 are merged

[2022-09-16 23:17] yodatak commented on #49
_Originally posted by @yodatak in https://github.com/taburineagle/NeewerLite-Python/issues/46#issuecomment-1246159061_

[2022-09-18 16:03] yodatak opened #54 "Add a list of bluetooth usb stick that works and the one that don"t"

[2022-09-19 14:24] taburineagle commented on #49
Thank you for getting the ball rolling with this @yodatak!  I've been sick the past few days with a pretty wicked head cold, so I haven't really been on much lately - ha, and I'm still recovering, so I'll need a little bit more time to check everything out.

[2022-09-19 14:29] taburineagle commented on #54
NeewerLite-Python requires either on-board Bluetooth or a Bluetooth dongle capable of BLE (Bluetooth Low Energy) - in other words, Bluetooth higher than version 4.0.  Versions before 4.0 might be able to find the lights, but can not communicate with them.  Here are a list of devices that are compatible with the program:

**Works**:
- [TP-Link USB Bluetooth Adapter for PC (UB400)](https://www.amazo

[2022-09-19 14:31] taburineagle commented on #54
NeewerLite-Python requires either on-board Bluetooth or a Bluetooth dongle capable of BLE (Bluetooth Low Energy) - in other words, Bluetooth higher than version 4.0.  Versions before 4.0 might be able to find the lights, but can not communicate with them.  Here are a list of devices that are compatible with the program:

**Works**:
- [TP-Link USB Bluetooth Adapter for PC (UB400)](https://www.amazo

[2022-09-28 13:56] craigjmidwinter opened #55 "RGB530 not found"
Not sure if this is related to these specific lights, but they work in the app and show up as bluetooth devices when I scan for devices in my system settings but the cli says it did not find any neewer lights

[2022-09-29 09:08] taburineagle commented on #49
Hello!  Sorry @yodatak - haven't forgotten, just had a chance to check into this... ha, and it was actually Covid and not a head cold... 🙄

[2022-09-29 09:09] taburineagle commented on #55
Hmm, interesting - do you get the same result with the GUI?  Also, might be a long shot, but if you still have the phone app (or another service) connected/paired to the lights, NeewerLite-Python won't be able to see them.

[2022-10-01 16:15] adriportela95 opened #56 "Light does not react to actions after losing link with the HTTP server"
Hi! I was testing with two 660-PROs and I noticed that one of them lost the connection after a few minutes but quickly reconnected (I have its panels always visible). The problem is that after relinking and checking on the web that both appeared linked, that light does not receive any action that I send to it. Without closing the HTTP server, I have tested the GUI and if it has linked and reacted

[2022-10-03 01:42] taburineagle commented on #56
Hi @adriportela95!  Let me do some checking into that - just curious, what is the signal level you're usually getting from that light?

[2022-10-03 07:21] adriportela95 commented on #56
I would say between -76dbM and -82dbM. The other light had similar values, but I would also say that it always had a better signal than this one (for example, one 80 and the other 82, or one 76 and the other 78).

For this reason, yesterday I exchanged them. The one farthest from the PC was the one that was disconnected most frecuently. I also changed the port of the BT usb dongle and put it close

[2022-10-04 11:06] taburineagle commented on #56
Nice, I'm glad you're having a bit more luck with it!  I had a feeling the initial disconnection was due to a lower signal level.  I tried the same thing here (HTTP server, an SL-80 and MacOS, just because that's the system I currently have), not with the RGB660 PRO (I have one of those, but not with me at the moment) and I turned it off, then back on, waited for the HTTP server to show that the l

[2022-10-04 21:33] adriportela95 commented on #56
I have more satisfactory tests. I think I have something, a pattern:

- I turn off the light on the switch and turn it on again, the BT icon on the light flashes until it is re-linked (2-3 seconds). This doesn't show console messages and when doing a &list, browser says Linked = YES. But it does not react to new actions. As soon as it receives the new action, the BT icon flashes again and does not

[2022-10-07 01:54] taburineagle commented on #56
Hmm, interesting, I didn't notice this behavior when I was testing, but now I have access to my Windows PC and my 660PRO - I'll check this out a little bit more in the next few days to see what I find out.  It sounds like the light gets taken out of the list when it disconnects (which shouldn't be the case, but I'll definitely check into it!)

[2022-10-07 01:59] taburineagle commented on #56
I also wonder if it's because it's two of the same kind of light - that also shouldn't be the case, but I'll check that out too - I don't have 2 660PROs myself, but I can see if I can trick the detection function to think I do.

[2022-10-07 07:55] adriportela95 commented on #56
Yes, I added more debugging messages and I saw that when I turn the light off and on, the BT blinks for about 5 seconds and reconnects without reacting to requests, as I told you. Well, if I do a &discover at that point, "devices" in the findDevices() method is empty.

On the other hand, if I do the same thing but instead of sending a &devices, I send a color change request, the BT blinks again as

[2022-10-08 21:00] taburineagle commented on #55
I'm closing this for now, as I haven't heard any other issues in a bit over a week - if you keep having issues, please feel free to re-open it!

[2022-10-08 21:00] #55 closed

[2022-10-08 21:37] taburineagle commented on #56
OK, I've _finally_ had time to test this out myself with Windows 10 and the RGB660 PRO, and I was able to recreate the situation.  It looks like I'm not clearing the Bleak connection object when the light goes away (which the GUI does automatically every few seconds, but the HTTP server only checks to see if the light is connected when the page loads), which gives a false re-connect when re-linkin

[2022-10-08 21:56] adriportela95 commented on #56
Great! I will check the repository to test as soon as the changes are uploaded. Thanks for everything!

[2022-10-08 21:57] taburineagle commented on #56
You're welcome!  Just pushed the commit - let me know if you have any issues!  If not, I'll push a new version with those changes.

[2022-10-08 22:14] taburineagle commented on #46
I'm going to try to check out all the Flatpak stuff in the next few days @yodatak - but I am closing this issue now, as it seems to be resolved with the other Bluetooth adapter - let me know if you have any other connection issues otherwise!

[2022-10-08 22:14] #46 closed

[2022-10-08 22:43] adriportela95 commented on #56
I have already done some tests:

- If I turn the light off and on, the behavior is the same. It does a fake re-link and upon receiving a color request, the light doesn't react and unlinks by displaying NO on the HTTP page. But effectively, if instead of sending a color, I send a &link or a &discover, now it unlinks it and relinks it successfuly.

The process is the same with two lights at a time.

[2022-10-08 23:09] taburineagle commented on #56
Right, right - that makes sense, as the HTTP server only pushes that information when the information is first sent to the browser (a request or a refresh for instance), so the page will still act as if they're linked until you give a command to refresh the information, at which point they'll say "No" in the linked column - it might make sense for me to implement an auto-refresh feature, like forc

[2022-10-09 10:53] adriportela95 commented on #56
I have something. I know almost nothing about Python, I'm a Java programmer, but I discovered through printDebugString() that when I send that request after turning the light off and on, the writeToLight() method is calling the Exception (line 2516). Specifically to the else of the if UpdateGUI == True. There if I do a print(e) the result is NOT_CONNECTED.

What I have done is put a **returnValue

[2022-10-10 01:31] taburineagle commented on #56
@adriportela95 - I'd have to take a look at that and see if it breaks anything in the CLI (because it also uses writeToLight() and also uses `updateGUI = False` - as far as I remember - ha, I've been writing a JavaScript method all day, so my mind's a bit foggy at the moment 😁  That might be a good way to add a "reconnect if light not found" method... although re-scanning for lights globally would

[2022-10-10 01:35] taburineagle commented on #56
@adriportela95 - With this addition, the list page (`doAction?list`) automatically refreshes every 8 seconds, unless you click on an "Edit" button to rename a light, in which case it will pause the refreshing timer.  This will update the list of available lights automatically (instead of needing to click on "List Currently Available Lights and Custom Presets" or refreshing the page manually), thei

[2022-10-12 10:35] taburineagle commented on #56
Hehe, but perdy-fication takes **_finessing_** @fribse! 😁  I've always kind of treated the HTTP GUI more like just a status page where the actual usability lies in sending commands to the URLs with external devices like Stream Deck and the like (it's just kind of there to show there's _something_ going on under the hood) - _but_ that would be cool to have a more interactive setup - buttons that do

[2022-10-12 11:46] fribse commented on #56
Well the perdyfying isn't a factor :-D But it would be great as you also say, to have it more interactive, so that one could see what is going on on the different lights, ie. it's currently trying to connect etc. That would be a major improvement, but I'm hijacking the thread, so ignore me for now :-D

[2022-10-18 14:22] taburineagle commented on #56
Ha, that's cool @fribse - I definitely do want to improve it... sometime down the road 😊

@adriportela95 - Do you need anything else from this issue?  I'll close it tomorrow if I don't hear back, and push the HTTP refresh changes in a day or two.

[2022-10-18 14:52] adriportela95 commented on #56
Oops, sorry, I forgot to reply. Everything is fine now. Issue closed! Thank you very much for your help!

[2022-10-18 23:54] taburineagle commented on #49
Sorry @yodatak - I did check the commits out, but didn't a chance to do the PR last week :/  I was curious about 2 things (3, but I can't find it mentioned anywhere now at the moment) -

- For the Desktop file, is it supposed to be `Version=1.0`
- For the Metadata, is the date supposed to be `2022-09.16` or would `2022-09-16` work?
- (and the 3rd one) - I noticed somewhere (on their test build con

[2022-10-18 23:55] taburineagle commented on #49
Also, I'm planning on updating my version soon, so I'm going to have a new one shortly.  So I'm assuming all I need to do is update the metadata when the time comes?

[2022-10-26 23:24] taburineagle commented on #56
Excellent!  You're welcome @adriportela95 😊

[2022-10-26 23:24] #56 closed

[2022-11-05 20:29] yodatak commented on #49
@taburineagle  For the desktop Version is not need as i unredstand https://develop.kde.org/docs/use/desktop-file/

[2022-11-05 20:31] yodatak commented on #49
@taburineagle  For the date i think 2022-09-16 shoud work
https://www.freedesktop.org/software/appstream/docs/chap-Quickstart.html#sect-Quickstart-DesktopApps

[2022-11-05 20:46] yodatak commented on #49
Another reason to use flatpak
https://memoryfile.codeberg.page/posts/Distribution-packaging-for-Linux-desktop-applications-is-unsustainable/

[2022-11-05 22:14] yodatak commented on #49
And for pyside2 its how other flatpak works so i think it ok to compile all the depencies

[2022-11-06 10:49] markus-seidl opened #57 "Raspberry Pi 4 Model B not working"
Has anyone tried to connect to a Neewer RGB 660 PRO with a Raspberry Pi 4 Model B?
I'm able to list the device, but upon connecting it's:

I've added an exception printer, and the "reason" why it's not able to link is:

After that I've tried it from a Mac with the NeewerLite app and that one worked immediately (so the light should be ok).

Any ideas?

[2022-11-06 16:23] taburineagle commented on #57
Hmm, that's strange - as far as I can recall, I tested NeewerLite-Python on my Pi4 and could connect to the lights I have (which includes the 660PRO), but mine is a Pi4A.  What OS are you using?  Also, I Googled and found a [few results](https://raspberrypi.stackexchange.com/questions/122429/raspberry-pi-4-wont-pair-to-bluetooth-devices) of [Pi4s having issues connecting to Bluetooth devices](http

[2022-11-06 16:27] taburineagle commented on #49
Got you, got you - I want to update the main version at least one more time before merging the PRs, to bring the modifications I did to the HTTP server into the new version, then I will merge the PRs and update the information after merging those.  Sorry it's taking me so long to do all of that, the last few weeks have been rough! 😅

[2022-11-07 04:56] markus-seidl commented on #57
I'm using the newest Raspbian 64 bit (lite) (2022-09-22). I've updated the firmware (rpi-update) but no luck.

I've got the same service log `service bluetooth status` :

I've added the `--noplugin=sap` as suggested by the first link (another comment states that newer images >2020 worked) but to no avail (same error). And no linkage.

... now hear me out, I ... well it's hardware and software and

[2022-11-07 04:56] #57 closed

[2022-11-09 06:32] markus-seidl commented on #57
Maybe there can be a troubleshoot.md or a section somewhere so others can try connecting first by hand if it doesn't work? I didn't see this solution on the internet and just found that by luck.

[2022-11-13 17:28] taburineagle commented on #57
That's a good idea - I do want to flesh my documentation out a lot more, I haven't updated it in a while, and some of the things have changed since I last updated it.  Operationally most things are the same, but not everything.